.maed-mag-card {
	height: 370px;
	&__hand {
		background-image: url('../img/maed-mag-bg-3.png');
		background-repeat: no-repeat;
		background-position: 90% 65%;
		background-size: 50%;
	}
	&-height {
		&-1 {
			height: 45%;
		}
		&-2 {
			height: 55%;
		}
	}
}