mixin arrowItemsAdaptive(text, img, num)
	.w-full.relative.text-center.md_text-left(class="md_w-1/4 px-3")
		img(src=require('/img/'+img), alt="").w-full.h-20.md_h-14.lg_h-20.object-contain.object-left.mb-4.mx-auto.md_ml-0
		.hidden.md_flex.w-8.h-8.bg-yellow.items-center.justify-center.rounded-full.xl_-ml-8.font-bold.mb-6= num
		p.text-indigo.font-extrabold.mb-6= text
section.py-8.container
	.text-center.md_text-left
		+mainTitle('Программа адаптирована для России', '8')
	.relative
		.hidden.md_block.md_transform.md_translate-y-24.lg_translate-y-28.md_pb-2.lg_pb-0
			+arrowBig(true, 'indigo', 'yellow')
		.flex.flex-wrap.-mx-3
			+arrowItemsAdaptive('Курсы переведены на русский язык', 'nima-arrow-1.png', '1')
			+arrowItemsAdaptive('Учтены российские бизнес-реалии', 'nima-arrow-2.png', '2')
			+arrowItemsAdaptive('Преподователи – маркетологи-практики, обученные стандартам NIMA', 'nima-arrow-3.png', '3')
			+arrowItemsAdaptive('Программы одобрены Гильдией маркетологов России', 'nima-arrow-4.png', '4')
		.flex.flex-wrap.-mx-3.pt-6
			.px-3.w-full.mb-8(class="sm_w-1/2 lg_w-1/3")
				.bg-white.shadow-lg.px-6.sm_px-8.py-6.rounded-2xl
					.text-indigo.font-extrabold.sm_hidden.mb-4 Уровень
					.text-indigo.font-black.text-3xl.mb-6 Nima A
					p.text-extrabold.text-indigo.mb-5 Формирует системное понимание основных процессов и инструментов маркетинга с учетом междуна- родных трендов и требований
					p.text-red.font-bold.text-sm.mb-1 4 уровень EMCQ 
					p.text-red.font-bold.text-sm.mb-1 4 месяца подготовки
					p.text-red.font-bold.text-sm.mb-1 12 модулей учебной программы
					p.text-red.font-bold.text-sm.mb-8 2 онлайн экзамена 
					p.text-indigo.font-bold.text-xs.mb-2 Подойдет для:
					ul.list-inside.list-disc.mb-6.text-indigo
						li.mb-2 Желающих освоить маркетинг с нуля.
						li.mb-2 Интернет-маркетологов, которые хотят перейти 
						li.mb-2 на новый уровень в своей работе.
						li.mb-2 Маркетологов, планирующих работать за границей. 
					p.text-indigo.font-extrabold.mb-6 Специальности уровня &laquo;NIMA&nbsp;A&raquo; в&nbsp;MAED:
					+start-card-xs('red', 'Маркетолог-практик', 'user-5.png')
			.px-3.w-full.mb-8(class="sm_w-1/2 lg_w-1/3")
				.bg-white.shadow-lg.px-6.sm_px-8.py-6.rounded-2xl
					.text-indigo.font-extrabold.sm_hidden.mb-4 Уровень
					.text-indigo.font-black.text-3xl.mb-6 Nima B
					p.text-extrabold.text-indigo.mb-5 Позволяет перейти на управленчес- кий уровень, подтянуть стратеги- ческое мышление и создать маркетинговую стратегию развития бизнеса
					p.text-red.font-bold.text-sm.mb-1 6 уровень EMCQ 
					p.text-red.font-bold.text-sm.mb-1 6 месяцев подготовки
					p.text-red.font-bold.text-sm.mb-1 29 модулей учебной программы
					p.text-red.font-bold.text-sm.mb-8 2 онлайн экзамена 
					p.text-indigo.font-bold.text-xs.mb-2 Подойдет для:
					ul.list-inside.list-disc.mb-6.text-indigo
						li.mb-2 Директора по маркетингу
						li.mb-2 Интернет-маркетолога
						li.mb-2 Специалиста в сфере рекламы и PR
						li.mb-2 Представителя маркетингового агентства
					p.text-indigo.font-extrabold.mb-6 Специальности уровня &laquo;NIMA&nbsp;B&raquo; в&nbsp;MAED:
					+start-card-xs('red', 'Директор по digital-маркетингу', 'user-5.png')
					+start-card-xs('red', 'Маркетолог-практик', 'user-3.png')
			.px-3.w-full.mb-8(class="lg_w-1/3")
				.bg-white.shadow-lg.px-6.sm_px-8.py-6.rounded-2xl
					.text-indigo.font-extrabold.sm_hidden.mb-4 Уровень
					.text-indigo.font-black.text-3xl.mb-6 Nima C
					p.text-extrabold.text-indigo.mb-5 Сосредоточена на вопросах стратегического планирования и развития маркетинга в компании и интеграции маркетинга в общую стратегию бизнеса
					p.text-red.font-bold.text-sm.mb-8 Уровень МВА со специализацией по маркетингу
					p.text-indigo.font-extrabold.mb-6 Пройти такое обучение можно только в Нидерландах