section.pb-16.pt-32.sm_pt-56.md_pt-44.lg_pt-36.z-20.relative.overflow-hidden
	.container
		.flex.flex-wrap.items-start.justify-center.-mx-3
			.w-full.order-2.lg_order-1(class="lg_w-7/12 px-3")
				h1.text-3xl.sm_text-4xl.md_text-6xl.font-black.mb-8.text-indigo Оплата обучения в&nbsp;академии <br> MAED
				.flex.items-center.flex-wrap
					.mr-2
						+outline-btn('indigo', 'Оплатить обучение')
					.mr-2
						+outline-btn('indigo', 'Рассрочка')
					.mr-2
						+outline-btn('indigo', 'Безопасность')
					.mr-2
						+outline-btn('indigo', 'Юридические лица')
			.w-full.mb-8.order-1.lg_order-2(class="md_w-10/12 lg_w-5/12 px-8 lg_px-0")
				.flex.justify-center 
					.w-full(class="lg_w-10/12")
						img(src=require('/img/education.svg'), alt="").w-full.mb-6.lg_mb-0