mixin iterateBlock(text, link)
	.counter_item__block.w-full.px-3.mb-8(class="md_w-1/2 lg_w-1/3 xl_w-1/4")
		span.ml-4.text-white.text-sm
			span= text 
			if link
				span 
				a(href="#").underline.font-bold.duration-300.hover_text-red= link 
section.py-8.sm_py-16.container
	+mainTitle('Безопасность денежных переводов', '6')
	.flex.flex-wrap.-mx-3
		.px-3.w-full(class="md_w-1/2 lg_w-7/12")
			+mainTextSecondary('Академия MAED доверяет свои платежи «PayMaster». Он работает на международном уровне и регулярно подтверждает качество своего сервиса международными сертификатами соответствия.', '8')
		.px-3.w-full(class="md_w-1/2 lg_w-5/12")
				.flex.-mx-1.flex-wrap.mb-8
					+payImages('Способы оплаты', 'mir-logo.svg', 'apple-pay.svg', 'google-pay.svg', 'qiwi.svg', 'Beeline-2.svg', 'iomoney.svg', 'webmoney.svg')
	.flex.flex-wrap.-mx-3.justify-between
		.px-3.w-full(class="md_w-1/2 xl_w-5/12")
			+listCheck('<span class="font-bold">«PayMaster»</span> имеет сертификат PCI DSS (Payment Card Industry Data Security Standard) по версии стандарта 2.0, который позволяет проводить более шести млн. транзакций в год.', '8', 'red', 'base')
			+listCheck('<span class="font-bold">«PayMaster»</span> имеет поддержку 3D Secure и защиту от ChargeBack.', '8', 'red', 'base')
		.px-3.w-full(class="md_w-1/2 xl_w-5/12")
			+listCheck('Сертификат подтверждает соответствие сервиса компании стандартам безопасности индустрии платежных карт, учрежденным международными платежными системами', '8', 'red', 'base')
.container.py-8.sm_pt-4.sm_pb-16
	.bg-indigo.flex.flex-wrap.rounded-xl.relative.py-10.px-4.sm_px-10.sm_py-16
		.absolute.left-4.sm_left-10.flex(class="-top-4")
			+maed-logo('white', 'red', 'xl')
		.w-full(class="md_w-7/12")
			h3.text-white.text-2xl.sm_text-3xl.md_text-4xl.font-black.mb-4.relative.z-10 Оплата для юридических лиц
			img(src=require("./img/safety.svg"), alt="" class="sm_w-3/12").sm_absolute.right-16.-top-24.mb-6.sm_mb-0
		.flex.flex-wrap.-mx-3.counter_item.pt-8
			+iterateBlock('Выбрать курс', 'в каталоге')
			+iterateBlock('Оставить заявку для связи с менеджером')
			+iterateBlock('Определиться со способом оплаты')
			+iterateBlock('Ознакомиться с', 'договором оферты')
			+iterateBlock('Сформировать счет')
			+iterateBlock('Указать количество учащихся от компании')
			+iterateBlock('Передать счет в бухгалтерию')
			+iterateBlock('Подписать счет у MAED')
		.sm_absolute.left-0.right-0.mx-auto.flex.justify-center(class="-bottom-4")
			a(href="#").inline-flex.items-center.bg-red.rounded-lg.text-center.px-12.py-3.hover_bg-red-dark.duration-300
				span.underline.font-bold.text-white Оплатить обучение
.container.flex.justify-center.mb-8.sm_mb-24
	a(href="#").text-indigo.duration-300.hover_text-red.animate-bounce-custom__link
		svg(class="w-8 block mx-auto animate-bounce-custom" width='27' height='46' viewBox='0 0 27 46' fill='none' xmlns='http://www.w3.org/2000/svg')
			g
				path(d='M0.793284 0C0.368311 0 0 0.363185 0 0.782248V33.2178C0 33.6369 0.339979 34 0.793284 34H26.2067C26.6317 34 27 33.6648 27 33.2178V10.3649V10.3369C27 10.309 27 10.2811 27 10.2531C27 10.2252 27 10.1972 26.9717 10.1693C26.9717 10.1414 26.9717 10.1134 26.9433 10.0855C26.9433 10.0576 26.915 10.0296 26.915 10.0017C26.915 9.97375 26.8867 9.94576 26.8867 9.94576C26.8867 9.91782 26.8583 9.88992 26.8583 9.88992C26.83 9.86198 26.83 9.86201 26.8017 9.83407L26.7734 9.80611L17.0556 0.223548C16.914 0.0838604 16.7156 0 16.489 0H16.4607H0.793284ZM1.58657 1.5645H15.6674V10.3649C15.6674 10.784 16.0073 11.1471 16.4607 11.1471H25.3851V32.4355H1.58657V1.5645ZM17.2539 2.6541L24.2802 9.58264H17.2539V2.6541ZM11.6443 13.5218C11.446 13.5218 11.2476 13.5218 11.0493 13.5777C10.256 13.7733 9.6894 14.4717 9.60441 15.198C9.51941 15.9244 9.7744 16.6229 10.171 17.4051C10.511 18.1036 11.3043 18.8299 11.8709 19.5842C11.7293 20.4783 11.7859 21.1767 11.531 22.0986C11.276 23.0206 10.8793 23.6072 10.5394 24.4454C9.6894 24.8085 8.6128 25.0601 7.98951 25.4791C7.28122 25.9541 6.68625 26.4569 6.40294 27.0995C6.09129 27.77 6.26128 28.636 6.82791 29.1948C7.39454 29.7535 8.30116 29.9211 8.98111 29.6138C9.66107 29.3065 10.1427 28.7478 10.6243 28.0493C11.0493 27.4068 11.3326 26.3731 11.6726 25.535C12.5226 25.1997 13.1175 24.8086 14.0525 24.5571C14.9874 24.3057 15.724 24.3616 16.6023 24.2219C17.3389 24.7806 18.1039 25.535 18.8122 25.8982C19.5771 26.2614 20.3137 26.5127 21.022 26.4569C21.7587 26.3731 22.4386 25.8144 22.6653 25.0321C22.8636 24.2499 22.5519 23.4117 21.957 22.9926C21.362 22.5736 20.6254 22.4339 19.7471 22.378C18.9822 22.3221 17.9339 22.6295 16.999 22.7412C16.2907 22.1825 15.639 21.8472 14.9591 21.1767C14.2791 20.5062 13.9391 19.8636 13.3725 19.1652C13.4858 18.2433 13.7975 17.2096 13.7408 16.4553C13.6842 15.6171 13.5425 14.8628 13.1175 14.2761C12.8059 13.8291 12.2392 13.5498 11.6443 13.5218ZM11.6443 14.9466C11.7859 14.9187 11.8143 14.9745 11.9276 15.1142C12.0693 15.3098 12.2392 15.8406 12.2959 16.5391C12.3242 16.7905 12.1543 17.2654 12.1543 17.5448C11.9843 17.2933 11.6443 16.9582 11.531 16.7347C11.2193 16.0921 11.106 15.5613 11.1343 15.3378C11.1626 15.0863 11.1343 15.0863 11.4743 15.0025C11.531 14.9746 11.5876 14.9466 11.6443 14.9466ZM13.1175 21.1767C13.4292 21.512 13.5708 21.8751 13.9108 22.2104C14.2508 22.5456 14.5908 22.6853 14.9591 22.9926C14.5058 23.1044 14.1091 23.0485 13.6558 23.1603C13.2025 23.272 12.8909 23.5234 12.4376 23.6631C12.5792 23.2161 12.8059 22.9088 12.9475 22.4618C13.0892 21.9869 13.0325 21.6237 13.1175 21.1767ZM19.6621 23.8307C20.3704 23.8866 20.9087 24.0542 21.107 24.1939C21.3054 24.3336 21.3337 24.3337 21.2487 24.6689C21.1637 25.0042 21.1354 24.9762 20.9087 25.0041C20.6537 25.0321 20.1154 24.9203 19.4921 24.613C19.2655 24.5012 18.9255 24.1381 18.6705 23.9984C18.9538 23.9426 19.4071 23.8028 19.6621 23.8307ZM9.7744 26.2892C9.63274 26.5407 9.51941 27.0156 9.37776 27.2391C8.98111 27.8258 8.58447 28.189 8.32949 28.3008C8.10283 28.4125 8.10283 28.4405 7.84785 28.1891C7.59287 27.9376 7.6212 27.9376 7.73452 27.7141C7.84785 27.4906 8.21616 27.0994 8.81112 26.7083C9.03778 26.5407 9.49108 26.4569 9.7744 26.2892Z' fill='currentColor')
			path(d='M10 41L18.5 41L14.5 45.5L10 41Z' fill='currentColor')
		span.mt-1.block.underline.font-semibold.text-sm.text-center Наши <br> реквизиты