section.py-16.container
	.flex.flex-wrap.items-center.mb-8.-mx-3
		.w-full(class="md_w-1/2 px-3")
			+mainTitle('Выпускники курсов NIMA')
			+mainTextSecondary('Более 100 компаний, в которых работают наши выпускники. От перспективных стартапов до крупных международных корпораций в разных сферах бизнеса.')
	.block
		.swiper-container.relative.pb-8.sm_pb-12.swiper-container-yellow
			.swiper-wrapper
				.swiper-slide.swiper-slide-1_4
					.sm_px-2
						+graduatesCard('Сергей Петров', 'Выпускник курса Маркетолог-практик', 'Курс позволил чётче доносить свои мысли,  структурировать свой опыт «по полочкам». увидеть пробелы в своих знаниях.', 'user-carousel-nima-1.jpg')
				.swiper-slide.swiper-slide-1_4
					.sm_px-2
						+graduatesCard('Анна Арсентьева', 'Выпускница курса Директор по digital Маркетингу', 'Стратегию, которую разрабатывала на курсе и защищала в качестве дипломной работы, одобрил и купил у меня заказчик, так что обучение окупилось и принесло доход сразу.', 'user-carousel-nima-2.jpg', true)
				.swiper-slide.swiper-slide-1_4
					.sm_px-2
						+graduatesCard('Александр Зыль', 'Выпускник курса Маркетолог-практик', 'Крутые преподаватели, однокурсники, полезные знакомства! Огромная база знаний по  маркетингу, которая мне, как интернет-маркетологу, оказалась полезной и расширила горизонты.', 'user-carousel-nima-3.jpg')
				.swiper-slide.swiper-slide-1_4
					.sm_px-2
						+graduatesCard('Алексей Овсянников', 'Выпускник курса Маркетолог-практик', 'Лично мои доходы выросли после курса. А для компании — мы сэкономили на подрядчиках. потому что стратегию я написал сам в ходе обучения.', 'user-carousel-nima-4.jpg', true)
				.swiper-slide.swiper-slide-1_4
					.sm_px-2
						+graduatesCard('Сергей Петров', 'Выпускник курса Маркетолог-практик', 'Курс позволил чётче доносить свои мысли,  структурировать свой опыт «по полочкам». увидеть пробелы в своих знаниях.', 'user-carousel-nima-1.jpg')
				.swiper-slide.swiper-slide-1_4
					.sm_px-2
						+graduatesCard('Анна Арсентьева', 'Выпускница курса Директор по digital Маркетингу', 'Стратегию, которую разрабатывала на курсе и защищала в качестве дипломной работы, одобрил и купил у меня заказчик, так что обучение окупилось и принесло доход сразу.', 'user-carousel-nima-2.jpg', true)
				.swiper-slide.swiper-slide-1_4
					.sm_px-2
						+graduatesCard('Александр Зыль', 'Выпускник курса Маркетолог-практик', 'Крутые преподаватели, однокурсники, полезные знакомства! Огромная база знаний по  маркетингу, которая мне, как интернет-маркетологу, оказалась полезной и расширила горизонты.', 'user-carousel-nima-3.jpg')
				.swiper-slide.swiper-slide-1_4
					.sm_px-2
						+graduatesCard('Алексей Овсянников', 'Выпускник курса Маркетолог-практик', 'Лично мои доходы выросли после курса. А для компании — мы сэкономили на подрядчиках. потому что стратегию я написал сам в ходе обучения.', 'user-carousel-nima-4.jpg', true)
			.hidden.sm_block.swiper-pagination.darken-revert
			+swiperNav('yellow', 'bg-indigo hover_bg-yellow hover_text-white')