.user-img {
	width: 12%;
	&:nth-child(2n + 1) {
		width: 15%;
	}
}

.arrow-bg {
	background-image: url('../img/Group_7681.svg');
	background-size: 100%;
	background-position: center;
	height: 18px;
	background-repeat: no-repeat;
}

.arrow-img-mobile {
	@media (max-width: 500px) {
		transform: translateX(-0.1rem);	
	}
}