section.py-16.container#faqContainer
	.flex.items-center.mb-5
		+mainTitle('Часто задаваемые вопросы')
		img(src=require('/img/Group_1913.svg'), alt="").w-16.md_w-24.ml-4.mb-4
	.border-b.border-indigo
		+dropdownLink('#faq-1', '#faqContainer', 'Программа обучения стоит недешево. Что я получу за такую сумму?')
		#faq-1.drop__collapse
			p.text-indigo.mb-4 Если перечислить  практические, осязаемые вещи, то это будут:
			ul.list-disc.list-inside.text-indigo.mb-4 
				li.mb-2 консультации и коучинг как тренеров по программе, так и других слушателей в течение всего периода обучения (4 месяца);
				li.mb-2 оригинальные и уникальные учебные пособия, разработанные NIMA и его партнерами и полностью переведенные и адаптированные на русский язык;
				li.mb-2 план модулей с детальным указанием того, какие именно разделы и страницы рекомендованных книг и пособий содержат необходимый теоретический материал по каждой теме;
				li.mb-2 описание компетенций, знаний и умений, необходимых для получения квалификации NIMA;
				li.mb-2 все учебники, рекомендованные для обучения;
				li.mb-2 дополнительные материалы для чтения, составленные NIMA и содержащие отдельные темы курса обучения, недостаточно хорошо изложенные в рекомендованных учебниках;
				li.mb-2 экзаменационные задания теоретического экзамена прошлых лет с правильными ответами к ним для облегчения лучшей подготовки к сдаче теоретического экзамена;
				li.mb-2 При успешной сдаче квалификационного экзамена диплом NIMA и сертификат профессионального соответствия EMC.
			p.text-indigo.mb-4.py-3 Все это во много раз больше, чем можно получить на любом семинаре или курсах по маркетингу в нашей стране.
			p.mb-4.text-indigo А если говорить глобально, то:
			ul.list-disc.list-inside.text-indigo.mb-4 
				li.mb-2 программа уровня А стоит сейчас как 3 – 4 зарплаты работника отдела маркетинга. С нашими знаниями он или она пойдет на повышение или найдет более высокооплачиваемую работу в другой компании и покроет затраты на обучение за 3 – 4 месяца. Это не так и много за карьерный рост.
				li.mb-2 Программа уровня В для тех, у кого на кону квалификация директора по маркетингу – руководителя даже не отдела, а целой функции в компании. Стоимость программы соответствует зарплате директора по маркетингу примерно за квартал – полгода.
			p.mb-4.text-indigo.pb-2 Наша цена – разумна, она в то же время дисциплинирует слушателя, не позволяя ему не выполнять заданий и безответственно относится к учебе. Иными словами вы инвестируете в карьеру, в себя. А насколько вам дорога ваша мечта решать вам.
	.border-b.border-indigo
		+dropdownLink('#faq-2', '#faqContainer', 'Хочу учиться в Нидерландском институте маркетинга. Как подать туда заявку?')
		#faq-2.drop__collapse
			p.text-indigo.mb-4 Нидерландский институт маркетинга только создает стандарты обучения. А также составляет требования к содержанию и процедуре экзаменов и тексты экзаменационных заданий, присваивает профессиональную квалификацию специалиста по маркетингу.
			p.text-indigo.mb-4.pb-2 Для организации качественного процесса обучения NIMA ищет партнеров, за которыми закреплены определенные территории. Эти партнеры несут ответственность за процесс, содержание и качество обучения. Одним из таких партнеров является MAED, который организовывает обучение и сдачу экзаменов онлайн для всех желающих учиться на русском языке.
	.border-b.border-indigo
		+dropdownLink('#faq-3', '#faqContainer', 'Дает ли мне право диплом NIMA претендовать на должность маркетолога в странах ЕС?')
		#faq-3.drop__collapse
			p.text-indigo.mb-4.pb-2 Для того, чтобы официально трудоустроиться в ЕС прежде всего вы должны получить разрешение на работу согласно законодательству страны вашего пребывания. Это требование обязательно для всех лиц, кто не является гражданином ЕС. С дипломом NIMA и сертификатом EMC вы просто подтверждаете свою профессиональную квалификацию специалиста по маркетингу в соответствии с единой системой профессиональной аттестации ЕС (EQF: European Qualification Framework).
	.border-b.border-indigo
		+dropdownLink('#faq-4', '#faqContainer', 'Что такое квалификационный экзамен NIMA?')
		#faq-4.drop__collapse
			p.text-indigo.mb-4.pb-2 Квалификационный экзамен NIMA — это независимая проверка ваших знаний и умений в области маркетинга, маркетинг-менеджмента, коммуникаций и продаж (в зависимости от профиля программы обучения). Экзамены NIMA имеют международное признание в лице Европейской конфедерации маркетинга (EMC).
	.border-b.border-indigo
		+dropdownLink('#faq-5', '#faqContainer', 'Что требуется перед сдачей экзамена?')
		#faq-5.drop__collapse
			p.text-indigo.mb-4 Если Вы закончили курс NIMA-А, и хотите получить диплом NIMA +диплом EMCQ, необходимо принять участие и успешно сдать теоретический экзамен.
			p.text-indigo.mb-4 Чтобы получить только сертификат от NIMA (B2), достаточно сдать практический экзамен (защитить стратегию). С составом теоретического экзамена можно ознакомиться, посмотрев задания прошлых лет по NIMA-A и по NIMA-B (NIMA-B-digital) (доступ к ним есть на учебной платформе). Для успешной сдачи экзамена необходимо набрать не менее 55% верных ответов.
			p.text-indigo.mb-4.pt-3 Что и когда должно быть готово со стороны студента:
			p.text-indigo.mb-4 За 2 недели до экзамена - стратегия, одобренная ментором (для студентов NIMA-B и NIMA-B-digital), должна быть отправлена куратору, с целью ознакомления экзаменаторами.
			p.text-indigo.mb-4.pb-2 За три дня до экзамена - презентация, используя которую будет защищаться студент, и другие дополнительные материалы, например медиаплан.
	.border-b.border-indigo
		+dropdownLink('#faq-6', '#faqContainer', 'Я все знаю, уверен в себе и не хочу проходить обучение. Могу ли я просто записаться на экзамен?')
		#faq-6.drop__collapse
			p.text-indigo.mb-4.pb-2 Такая возможность существует только Нидерландах. Однако, за пределами Нидерландов такой возможности нет. Программа квалификационного экзамена является достаточно сложной и объемной и требует специальной подготовки от кандидатов.
	.border-b.border-indigo
		+dropdownLink('#faq-7', '#faqContainer', 'Как, где и когда проводятся экзамены?')
		#faq-7.drop__collapse
			p.text-indigo.mb-4 Ранее квалификационные экзамены NIMA за пределами Нидерландов проходили два раза в год: в феврале и июне, одновременно во всех странах. После карантина и массового перехода в онлайн действуют другие правила. Теперь экзамены теперь они проводятся по индивидуальному расписанию в каждой стране
			p.text-indigo.mb-4.pb-2 Экзамены проходят на базе организаций-партнеров: в России — это MAED. Расписание экзаменов вы найдете на этой странице. Экзамены проходят онлайн.
	.border-b.border-indigo
		+dropdownLink('#faq-8', '#faqContainer', 'Какую оценку нужно получить на экзамене, чтобы получить диплом NIMA?')
		#faq-8.drop__collapse
			p.text-indigo.mb-4.pb-2 Общая оценка состоит из оценки за теоретическую и практическую часть, однако каждый модуль в отдельности должен получить оценку не ниже, чем 5,5 из максимум 10 баллов.
	.border-b.border-indigo
		+dropdownLink('#faq-9', '#faqContainer', 'Чем отличается программа NIMA-A от NIMA-B?')
		#faq-9.drop__collapse
			p.text-indigo.mb-4.font-bold Nima-A — уровень специалист
			p.text-indigo.mb-2 Программа подойдет начинающим специалистам в маркетинге и для тех, кто решил вібрать профессию маркетолога. Обучение по программе NIMA поможет сформировать систему знаний в сфере маркетинга, получить необходимые знания и практические навыки, достаточные для эффективной работы в маркетинге.
			p.text-indigo.mb-4 Несмотря на практическую направленность, курс позволяет освоить основные принципы современного маркетинга, заложить фундамент для развития главного качества профессионального маркетолога - маркетингового мышления
			p.text-indigo.mb-4.py-2
				span 4 уровень EMCQ
				br
				span 4 месяца подготовки
				br
				span 12 модулей учебной программы
				br
				span 2 онлайн экзамена
			p.text-indigo.mb-4.font-bold Nima-B — уровень руководитель
			p.text-indigo.mb-2 Программа ориентирована на опытных менеджеров, специалистов в области маркетинга или продаж, бренд-менеджеров и собственников бизнеса, которые хотят перейти на управленческий уровень, подтянуть стратегическое маркетинговое мышление и создать маркетинг-ориентированную стратегию развития бизнеса.
			p.text-indigo.mb-4.pt-2.pb-2
				span 6 уровень EMCQ
				br
				span 6 месяцев подготовки
				br
				span 29 модулей учебной программы
				br
				span 2 онлайн экзамена
	.border-b.border-indigo
		+dropdownLink('#faq-10', '#faqContainer', 'К какому статусу приравнять сертификацию NIMA - это высшее образование или нет?')
		#faq-10.drop__collapse
			p.text-indigo.mb-2 Все способы повышения квалификации, существующие в мировой практике, можно условно поделить на три группы:
			ul.list-disc.list-inside.text-indigo.mb-6
				li.mb-2 академическое образование (бакалавр, магистр и т.д.)
				li.mb-2 тренинги (краткосрочные курсы/семинары и т.д.)
				li.mb-2 профессиональное образование или квалификационные программы
			p.text-indigo.mb-6 Европейская комиссия по вопросам образования, на заседании Европарламента в 2006 году сформировала рекомендацию к созданию унифицированной Европейской Квалификационной Системы (European Qualification Framework - EQF). Данная система внесла некий стандарт в систему оценок квалификационных программ различных государств и помогает работодателям и соискателям сравнить и понимать значение различных уровней квалификаций. C 2012 года все индивидуальные сертификаты и дипломы специалистов, выпущенные любым образовательным заведением стран Евросоюза, содержат информацию о соответствии тому или иному уровню EQF.
			p.text-indigo.mb-6 Слово «курсы» для программы NIMA не совсем подходит. Диплом, который получают наши выпускники соответствует уровню знаний, который получает студент вуза в Нидерландах за первые два года обучения. Речь идет о знаниях и навыках, которые соответствуют незаконченному высшему образованию.
			p.text-indigo.mb-6
				span.font-bold Программа Nima-A 
				span соответствует уровню EQF 4 - окончил среднее специальное учебное заведение, сотрудник отдела маркетинга, отвечает за реализацию одной или нескольких маркетинговых программ и операционное планирование в их рамках.
			p.text-indigo.mb-6
				span.font-bold Программа NIMA marketing B 
				span соответствует уровню EQF6 - уровень бакалавра высшего учебного заведения, руководитель маркетинговой функции (заместитель) в организации или её обособленном подразделении, принимающий решения о маркетинговых программах и осуществляющий их планирование не менее, чем на один год.
			p.text-indigo.mb-4.pb-2 Европейский диплом – это диплом, который вы могли бы получить если бы учились в ЕС. Разница не только в словах. Европейский диплом означает, что перечень предметов, требования к знаниям, условия сдачи экзамена – все это определяется не нашим министерством образования, а тем, органом – в данном случае – NIMA, который создал и ведет программу.
	.border-b.border-indigo
		+dropdownLink('#faq-11', '#faqContainer', 'Я сдал экзамены с оценкой, ниже 5,5. Могу ли сдать экзамен повторно?')
		#faq-11.drop__collapse
			p.text-indigo.mb-4 Если неудовлетворительная оценка (5,4 или ниже) получена на теоретическом экзамене, то повторно сдать его можно только на следующей сессии (см. вопрос 6). При этом необходимо будет повторно оплатить сдачу самого экзамена. В настоящий момент сумма составляет €200.
			p.text-indigo.mb-2 Если же проблема возникла с практическим экзаменом, то возможны два сценария:
			ul.list-disc.list-inside.text-indigo.mb-6
				li.mb-2 если кандидат получил на практическом экзамене оценку меньше, чем 5,5, но больше, чем 5,0, то он может повторно представить свой маркетинговый план с исправлением ошибок и упущений в течение двух недель с момента первой попытки. Такая возможность предоставляется только один раз за сессию.
				li.mb-2 если оценка на практическом экзамене составила 4,9 или менее, то маркетинговый план должен быть переделан и предоставлен на практический экзамен на следующую сессию.
			p.text-indigo.mb-4.pb-2 Любое повторное предоставление маркетингового плана на практический экзамен оплачивается отдельно. В настоящий момент сумма составляет €200.
	.border-b.border-indigo
		+dropdownLink('#faq-12', '#faqContainer', 'Какую квалификацию имеют тренеры и экзаменаторы программ по маркетингу NIMA?')
		#faq-12.drop__collapse
			p.text-indigo.mb-4.pb-2 Все тренеры, осуществляющие обучение на программах по маркетингу NIMA прошли специальное обучение для тренеров и экзаменаторов и обязательно имеют обширный практический опыт в области маркетинга, маркетинговых коммуникаций или продаж. Содержание программ обучения тренеров и экзаменов для отличается от обучения и содержания экзаменов для специалистов по маркетингу.
	div
		+dropdownLink('#faq-13', '#faqContainer', 'В каких странах котируется диплом NIMA?')
		#faq-13.drop__collapse
			p.text-indigo.mb-4.pb-2 Сертификаты NIMA признаются во всех государствах-членах ЕС (27 стран) и EMC (17 стран). В последние годы система сертификации NIMA была внедрена в Чехии, Латвии, Молдове, России, Украине, Беларуси, Армении, Азербайджане и Грузии. Для каждой из этих стран NIMA адаптирует свои программы (сертификация проводится на родном языке, используются кейсы отечественных предприятий).
	a(href="#modalFormNima" data-modal).inline-flex.justify-center.items-center.px-8.md_px-10.py-3.rounded-lg.sm_rounded-xl.duration-300.text-white.bg-indigo.hover_bg-purple.text-white.hover_text-white.mt-12.mb-8.sm_mb-12.sm_w-initial.w-full
		span.font-semibold.mr-3.pointer-events-none Узнать больше
		span.triangle-to-right.triangle-to-right__big.inline-block.pointer-events-none