mixin teachers-card(title, text)
	.px-3.w-full.mb-10(class="sm_w-1/2")
		h5.text-indigo.font-black.text-2xl.mb-3!= title 
		p.text-indigo.font-semibold= text
section.py-16.container
	.flex.flex-wrap.items-end.-mx-3.mb-8
		.w-full.px-3(class="md_w-1/2")
			+360MainTitle('2', 'Наши преподаватели', '10')
		.w-full.px-3(class="md_w-1/2")
			img(src=require("/img/our-teachers.svg"), alt="").w-full.max-w-sm.mx-auto.block.mb-6
	.flex.flex-wrap.-mx-3
		+teachers-card('Действующие практики', 'За плечами у спикеров реальная работа в компании или агентстве по профилю профессиональной специализации')
		+teachers-card('Амбассодоры Edtech', 'Они настоящие фанаты онлайн-образования, которые любят свое дело и влюбляют в маркетинг с первого слова')
		+teachers-card('Имеют опыт преподавания', 'Все преподаватели выступают экспертами на отраслевых конференциях, семинарах и форумах и не первый год занимаются подготовкой специалистов')
		+teachers-card('Давно работают в маркетинге', 'У каждого не менее 5 лет опыта в диджитал-маркетинге и не менее 3 лет опыта в сфере профессиональной специализации ')
		+teachers-card('Имеют управленческий опыт в своей сфере', 'Благодаря этому наши студенты получают ширину профессионального кругозора, направление роста в профессии и лучше понимают отраслевые проблемы и тренды')
		+teachers-card('Члены Педсовета MAED <br> и Ученых советов курсов', 'Они постоянно обмениваются знаниями и опытом между собой и готовы участвовать в обновлении контента курсов 24/7 ')