section.pt-32.sm_pt-56.md_pt-48.lg_pt-40.mb-14.sm_-mb-28.z-20.relative
	.container
		h1.text-3xl.sm_text-4xl.md_text-6xl.font-black.mb-4.text-indigo Каталог курсов
		.pb-4
			+catalogUnderTitle('indigo', 'Самое время начать!', false)
		form(name="filter" id="filterItem").flex.flex-wrap.sm_bg-indigo.sm_px-5.sm_py-6.sm_rounded-xl
			.w-full.mb-3.order-1(class="md_w-4/12 px-3")
				input.border-0.border-b.border-indigo.sm_border-white.w-full.bg-transparent.sm_text-white.outline-none.text-sm.placeholder-indigo.sm_placeholder-white.mb-4.rounded-none(type="text" name="searchName" placeholder="Поиск по названию" autocomplete="off")
			.flex.items-center.flex-wrap.pt-4.sm_pt-0.mb-3.order-3.sm_order-1(class="md_w-8/12 px-3")
				.w-full.sm_w-initial.sm_mr-4.mb-4
					+checkbox('free', 'Бесплатно')
				.w-full.sm_w-initial.sm_mr-4.mb-4
					+checkbox('employment', 'Трудоустройство')
				.w-full.sm_w-initial.sm_mr-4.mb-4
					+checkbox('sale', 'Скидка')
				.w-full.sm_w-initial.sm_mr-4.mb-4
					+checkbox('soon', 'Скоро старт')
				.w-full.sm_w-initial.mb-4
					+checkbox('diploma', 'Международный диплом')
			.w-full.flex.flex-wrap.mb-3.xl_justify-between.order-1.sm_order-2.px-3
					.mr-2.mb-4
						+radio('all', 'Все курсы', true, 'radio-category')
					.mr-2.mb-4
						+radio('profession', 'Професcии', false, 'radio-category')
					.mr-2.mb-4
						+radio('smm', 'SMM', false, 'radio-category')
					.mr-2.mb-4
						+radio('performance', 'Performance', false, 'radio-category')
					.mr-2.mb-4
						+radio('content', 'Контент', false, 'radio-category')
					.mr-2.mb-4
						+radio('ecomerce', 'E-commerce', false, 'radio-category')
					.mr-2.mb-4
						+radio('b2b', 'B2B', false, 'radio-category')
					.mr-2.mb-4
						+radio('finance', 'Финансы', false, 'radio-category')
					.mr-2.mb-4
						+radio('realty', 'Недвижимось', false, 'radio-category')
					.mb-4
						+radio('auto', 'Авто', false, 'radio-category')
			.w-full.flex.flex-wrap.order-2.sm_order-3.px-3
				.w-full.mb-4.md_pr-3(class="md_w-1/2 lg_w-4/12")
					.flex.justify-between.mb-2 
						.text-indigo.sm_text-white.text-sm Продолжительность
						.text-indigo.sm_text-white.text-sm 
							span от
							span 
							span#sliderRangeMin 1
							span 
							span до
							span 
							span#sliderRangeMax 20
							span 
							span месяцев
					.slide-range#sliderRange
				.w-full.md_pl-3.lg_px-3.mb-4(class="md_w-1/2 lg_w-4/12")
					.select-container
						select(name="property" data-img="student")#selectLevel.custom-select.border-b.border-indigo.sm_border-white.text-indigo.sm_text-white.flex.items-center.pb-2
							option(value="0" selected disabled) Уровень знаний
							option(value="elementary") Начальный
							option(value="middle") Средний
							option(value="senior") Высокий
							option(value="all") Любой
				.w-full.lg_pl-3.mb-4(class="lg_w-4/12")
					.select-container
						select(name="specification" data-img="star")#selectProfession.custom-select.border-b.border-indigo.sm_border-white.text-indigo.sm_text-white.flex.items-center.pb-2
							option(value="0" selected disabled) Специфика курса
							option(value="business") Бизнес
							option(value="marketing") Маркетинг
							option(value="education") Обучение
							option(value="all") Любой
section.overflow-hidden
	.bg-white
		.bg-red.pt-20.sm_pt-40.rounded-t-2xl
			.container
				.flex.flex-wrap.-mx-3
					.relative.z-10.px-3(class="lg_w-1/3")
						+catalogTitle('Профессии')
						.mb-8.mt-4
							+maed-logo('red', 'white')
					.relative.z-10.px-3.mb-4(class="lg_w-2/3 xl_w-1/3")
						+catalogUnderTitle('white', 'Начни свое движение в крутой мир маркетинговых исследований и экспериментов')
	.bg-white.pt-10.pb-32.sm_pt-14.xl_pt-10.relative.pb-100
		+skewBlock('red', 'right')
		.container
			.flex.flex-wrap.-mx-3
				+course-card('red', 'white', 'Директор по digital-маркетингу', 'user-4.png', 'profession', 'soon free', '14', 'senior', 'business')
				+course-card('red', 'white', 'Ведущий интернет маркетолог', 'user-2.png', 'performance', 'free' , '6', 'elementary', 'marketing')
				+course-card('red', 'white', 'Digital-маркетинг и разработка стратегии для b2b', 'user-5.png', 'ecomerce', 'soon free', '12', 'middle', 'education')
				+course-card('red', 'white', 'E-commerce маркетолог', 'user-vector.svg', 'b2b', 'soon free')
				+course-card('red', 'white', 'Digital-маркетинг и разработка стратегии для b2b', 'user-4.png', 'finance', 'soon')
				+course-card('red', 'red', 'Мессенджер маркетолог профи', 'user-3.png', 'content', 'soon free', '8', 'middle', 'education')
				+course-card('red', 'white', 'Директор по социальным медиа / smm-директор', 'user-4.png', 'realty', 'soon free')
				+course-card('red', 'white', 'Мессенджер маркетолог профи', 'user-3.png', 'auto')
				+course-card('red', 'white', 'Digital-маркетинг и разработка стратегии для b2b', 'user-vector-2.svg', 'smm', 'soon free')