footer.bg-indigo 
	.container 
		.flex.flex-wrap.items-start.pt-10.pb-6 
			.w-full.sm_pr-4.order-2.sm_order-1(class="sm_w-1/2")
				.form_container
					form.form.flex.flex-wrap.md_flex-nowrap(action="https://jsonplaceholder.typicode.com/users")
						input(type="email" name="email" placeholder="Введите свою почту"  required class="w-full lg_w-2/4").rounded-md.md_rounded-r-none.md_rounded-l-xl.border.border-white.px-6.outline-none.py-3.mb-4.duration-300.bg-transparent.input_email.text-white
						button.btn_submit.bg-white.text-indigo.rounded-md.md_rounded-l-none.md_rounded-r-xl.px-4.py-3.hover_bg-blue-light.duration-300.font-semibold.mb-4.w-full(class="lg_w-1/4" data-text="Ваши данные были успешно отправлены" data-container="#footerFormText") Подписаться
					#footerFormText.text-xs.text-white.font-bold.opacity-50.max-w-md Подпишись на&nbsp;рассылку и&nbsp;получай полезные материалы, анонсы, советы и&nbsp;лайфхаки от&nbsp;экспертов по&nbsp;маркетингу
			.w-full.md_flex.justify-between.flex-wrap.items-center.sm_pl-4.pt-2.order-1.sm_order-2(class="sm_w-1/2")
				.mb-3.md_pr-2
					a(href="#").block.header__logo-revert
						+maed-logo('text-indigo bg-white duration-300')
					.md_hidden.text-white.font-bold.mb-4.pt-3 Академия <br> маркетинга
				.mb-6.sm_mb-3.md_pl-2
					a(href="tel:84959847500").text-white.text-xl.font-bold.hover_text-blue-light.duration-300 +7 (495) 984-7500
		.flex.flex-wrap.items-start.mt-2.border-t.sm_border-b.border-white.sm_mb-6
			.w-full.sm_border-r.border-white(class="sm_w-1/2 md_w-7/12") 
				.flex.flex-wrap.items-start.pt-6.pb-4.sm_pr-4
					.w-full 
						p.font-semibold.text-white.text-sm.mb-4 Профессии
					.w-full.md_pr-2.order-1(class="md_w-1/2 xl_w-3/12")
						+footerList('Директор по digital- маркетингу (NIMA-B-Digital)', 'Директор по социальным медиа / SMM директор', 'Интернет-маркетолог с нуля')
					.w-full.lg_px-2.order-4.xl_order-2(class="lg_w-1/2 xl_w-3/12")
						+footerList('Директор по Digital B2B-маркетингу', 'С нуля до директора по Digital-маркетингу')
					.w-full.md_px-2.order-2.xl_order-3(class="md_w-1/2 xl_w-3/12")
						+footerList('Маркетолог-практик (NIMA-A)', 'Ведущий интернет-маркетолог', 'Трафик-менеджер/performance')
					.w-full.xl_pl-2.order-3.xl_order-4(class="md_w-1/2 xl_w-3/12")
						+footerList('E-commerce маркетолог', 'SMM-профи с нуля', 'CRM-маркетолог')
				.flex.flex-wrap.items-start.pt-6.pb-4.border-t.border-white.sm_pr-4
					.w-full 
						p.font-semibold.text-white.text-sm.mb-4 Инструменты маркетинга
					.w-full.xl_pl-2(class="md_w-1/2 xl_w-3/12")
						+footerList('Таргетолог профессионал', 'Email-маркетолог профи', 'Мастер контекстной рекламы')
					.w-full.md_pr-2.lg_pl-2(class="md_w-1/2 xl_w-3/12")
						+footerList('Веб-аналитик', 'Менеджер по маркетплейсам', 'CRM от А до Я')
					.w-full.xl_pl-2.xl_pr-2(class="md_w-1/2 xl_w-3/12")
						+footerList('Digital-маркетинг для ТОПов и предпринимателей', 'Мессенджер-маркетолог профессионал')
					.w-full.lg_pl-2(class="lg_w-1/2 xl_w-3/12")
						+footerList('SEO-Маркетолог', 'Контент-маркетинг от а до я')
				.flex.flex-wrap.items-start.pt-6.pb-4.border-t.border-white.sm_pr-4.sm_border-b-0.border-b
					.w-full
						p.font-semibold.text-white.text-sm.mb-4 Отраслевые курсы
					.w-full.xl_pl-2(class="xl_w-1/3")
						+footerList('Интернет-маркетинг для B2B и сложных рынков')
					.w-full.xl_px-2(class="xl_w-1/3")
						ul 
							li.mb-2
								span.text-xxs.font-semibold.text-white.opacity-50 Скоро: Спец по веб трафику
					.w-full.xl_pr-2(class="xl_w-1/3")
						ul 
							li.mb-2
								span.text-xxs.font-semibold.text-white.opacity-50 Скоро: Спец по веб трафику
			.w-full(class="sm_w-1/2 md_w-5/12") 
				.w-full.sm_block.hidden
					img(src=require("/img/2800.jpg"), alt="").w-full
					a(href="#" download).bg-red.rounded-xl.px-3.py-2.hover_bg-yellow.duration-300.font-semibold.inline-flex.items-center.justify-center.-mt-6.ml-6
						span.pointer-events-none.inline-flex.items-center
							img(src=require("./img/download-white.svg"), alt="").w-6
							span.border-b.border-dashed.ml-2.inline.text-sm.lg_text-md.text-white.border-white Скачать бесплатно
				.flex.flex-wrap.sm_px-4.sm_py-8 
					.w-full.sm_pr-4.pt-6.pb-4.sm_pt-0.sm_pb-0(class="sm_w-1/2")
						p.font-semibold.text-white.text-sm.mb-4 Академия
						ul 
							li.mb-2
								a(href="#").text-xs.font-semibold.text-white.opacity-50.duration-300.hover_text-red.hover_opacity-100 Каталог курсов 
							li.mb-2
								a(href="#" target="_blank").text-xs.font-semibold.text-white.opacity-50.duration-300.hover_text-red.hover_opacity-100.underline NIMA 
							li.mb-2
								a(href="#").text-xs.font-semibold.text-white.opacity-50.duration-300.hover_text-red.hover_opacity-100 Экосистема обучения 
							li.mb-2
								a(href="#").text-xs.font-semibold.text-white.opacity-50.duration-300.hover_text-red.hover_opacity-100 Центр карьеры 
							li.mb-2
								a(href="#").text-xs.font-semibold.text-white.opacity-50.duration-300.hover_text-red.hover_opacity-100 Команда 
							li.mb-2
								a(href="#").text-xs.font-semibold.text-white.opacity-50.duration-300.hover_text-red.hover_opacity-100 Корпоративное обучение 
							li.mb-2
								a(href="#").text-xs.font-semibold.text-white.opacity-50.duration-300.hover_text-red.hover_opacity-100 MAED magazine
					.w-full.sm_pl-4.pb-4.sm_pb-0(class="sm_w-1/2")
						p.font-semibold.text-white.text-sm.mb-4 Для студентов
						ul 
							li.mb-2
								a(href="#").text-xs.font-semibold.text-white.opacity-50.duration-300.hover_text-red.hover_opacity-100 Экспресс - курсы
							li.mb-2
								a(href="#").text-xs.font-semibold.text-white.opacity-50.duration-300.hover_text-red.hover_opacity-100 Инструкции, методички, чек-листы
							li.mb-2
								a(href="#").text-xs.font-semibold.text-white.opacity-50.duration-300.hover_text-red.hover_opacity-100 Открытые уроки и вебинары 
							li.mb-2
								a(href="#").text-xs.font-semibold.text-white.opacity-50.duration-300.hover_text-red.hover_opacity-100 MAED.Клуб
		.flex.flex-wrap.items-center.justify-between.py-6 
			p.text-white.opacity-50.text-sm.mb-4.pr-4.sm_order-1.order-2
				span &copy;
				span 
				span.date 2019
				span 
				span  MAED Academy все права защищены
			ul.flex.items-center.mb-4.sm_order-2.order-1
				li.mx-2
					a(href="#" target="_blank").footer_social-link
						<svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg"> <path fill-rule="evenodd" clip-rule="evenodd" d="M14.6234 1.00375L12.2249 1C9.5302 1 7.78878 2.73871 7.78878 5.42982V7.47227H5.37715C5.16875 7.47227 5 7.63668 5 7.83949V10.7988C5 11.0016 5.16895 11.1658 5.37715 11.1658H7.78878V18.633C7.78878 18.8358 7.95753 19 8.16593 19H11.3124C11.5208 19 11.6896 18.8356 11.6896 18.633V11.1658H14.5093C14.7177 11.1658 14.8865 11.0016 14.8865 10.7988L14.8876 7.83949C14.8876 7.74211 14.8478 7.64886 14.7772 7.57994C14.7066 7.51103 14.6103 7.47227 14.5103 7.47227H11.6896V5.74086C11.6896 4.90868 11.8933 4.48622 13.0073 4.48622L14.623 4.48566C14.8312 4.48566 15 4.32124 15 4.11863V1.37077C15 1.16835 14.8314 1.00412 14.6234 1.00375Z" fill="white"/> </svg> 
				li.mx-2 
					a(href="#" target="_blank").footer_social-link
						<svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg"> <path fill-rule="evenodd" clip-rule="evenodd" d="M10 1.5C12.3085 1.5 12.5979 1.50978 13.5045 1.55115C14.4093 1.59242 15.0272 1.73612 15.5678 1.94626C16.1268 2.16345 16.6008 2.45409 17.0734 2.92663C17.5459 3.3992 17.8366 3.87323 18.0538 4.43218C18.2639 4.97284 18.4076 5.59073 18.4488 6.49546C18.4902 7.40208 18.5 7.69154 18.5 10C18.5 12.3085 18.4902 12.5979 18.4488 13.5045C18.4076 14.4093 18.2639 15.0272 18.0538 15.5678C17.8366 16.1268 17.5459 16.6008 17.0734 17.0734C16.6008 17.5459 16.1268 17.8366 15.5678 18.0538C15.0272 18.2639 14.4093 18.4076 13.5045 18.4488C12.5979 18.4902 12.3085 18.5 10 18.5C7.69154 18.5 7.40208 18.4902 6.49546 18.4488C5.59073 18.4076 4.97284 18.2639 4.43218 18.0538C3.87323 17.8366 3.3992 17.5459 2.92663 17.0734C2.45409 16.6008 2.16345 16.1268 1.94626 15.5678C1.73612 15.0272 1.59242 14.4093 1.55115 13.5045C1.50978 12.5979 1.5 12.3085 1.5 10C1.5 7.69154 1.50978 7.40208 1.55115 6.49546C1.59242 5.59073 1.73612 4.97284 1.94626 4.43218C2.16345 3.87323 2.45409 3.3992 2.92663 2.92663C3.3992 2.45409 3.87323 2.16345 4.43218 1.94626C4.97284 1.73612 5.59073 1.59242 6.49546 1.55115C7.40208 1.50978 7.69154 1.5 10 1.5ZM9.99734 12.8298C11.5616 12.8298 12.8298 11.5616 12.8298 9.99734C12.8298 8.433 11.5616 7.16488 9.99734 7.16488C8.433 7.16488 7.16488 8.433 7.16488 9.99734C7.16488 11.5616 8.433 12.8298 9.99734 12.8298ZM9.99734 5.63383C12.4072 5.63383 14.3608 7.58742 14.3608 9.99734C14.3608 12.4072 12.4072 14.3608 9.99734 14.3608C7.58742 14.3608 5.63383 12.4072 5.63383 9.99734C5.63383 7.58742 7.58742 5.63383 9.99734 5.63383ZM15.8556 5.37224C15.8556 5.94601 15.3904 6.41111 14.8166 6.41111C14.2429 6.41111 13.7778 5.94601 13.7778 5.37224C13.7778 4.79847 14.2429 4.33333 14.8166 4.33333C15.3904 4.33333 15.8556 4.79847 15.8556 5.37224Z" fill="white"/> </svg> 
				li.mx-2 
					a(href="#" target="_blank").footer_social-link
						<svg width="21" height="21" viewBox="0 0 21 21" fill="none" xmlns="http://www.w3.org/2000/svg"> <path fill-rule="evenodd" clip-rule="evenodd" d="M20 11C20 16.5228 15.5228 21 10 21C4.47715 21 0 16.5228 0 11C0 5.47715 4.47715 1 10 1C15.5228 1 20 5.47715 20 11ZM10.3584 8.38245C9.38572 8.78701 7.44179 9.62434 4.52659 10.8944C4.0532 11.0827 3.80522 11.2669 3.78265 11.4469C3.7445 11.7513 4.1256 11.8711 4.64457 12.0343C4.71516 12.0565 4.7883 12.0795 4.86329 12.1038C5.37387 12.2698 6.0607 12.464 6.41775 12.4717C6.74163 12.4787 7.10312 12.3452 7.50221 12.0711C10.226 10.2325 11.632 9.30318 11.7203 9.28315C11.7825 9.26902 11.8688 9.25124 11.9273 9.30321C11.9858 9.35518 11.98 9.45361 11.9738 9.48001C11.9361 9.64096 10.4401 11.0318 9.66594 11.7515C9.42459 11.9759 9.2534 12.135 9.21841 12.1714C9.14001 12.2528 9.06011 12.3298 8.98333 12.4038C8.50898 12.8611 8.15327 13.204 9.00302 13.764C9.41137 14.0331 9.73813 14.2556 10.0641 14.4776C10.4201 14.7201 10.7752 14.9619 11.2347 15.2631C11.3517 15.3398 11.4635 15.4195 11.5724 15.4971C11.9867 15.7925 12.359 16.0579 12.8188 16.0155C13.086 15.9909 13.3621 15.7397 13.5022 14.9903C13.8335 13.2193 14.4847 9.38206 14.6352 7.80082C14.6484 7.66228 14.6318 7.48498 14.6185 7.40715C14.6052 7.32932 14.5773 7.21843 14.4761 7.13634C14.3563 7.03912 14.1714 7.01862 14.0886 7.02008C13.7125 7.0267 13.1355 7.22736 10.3584 8.38245Z" fill="white"/> </svg> 
				li.mx-2 
					a(href="#" target="_blank").footer_social-link
						<svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg"> <path fill-rule="evenodd" clip-rule="evenodd" d="M10 2.80078C7.102 2.80078 3.3406 3.53013 3.3406 3.53013L3.33113 3.54099C2.01123 3.75303 1 4.89226 1 6.27775V13.7225C1.00266 15.0907 1.99367 16.2531 3.33789 16.466L3.3406 16.4701C3.3406 16.4701 7.102 17.2008 10 17.2008C12.898 17.2008 16.6594 16.4701 16.6594 16.4701C18.0065 16.2562 18.9986 15.0922 19 13.7238V6.27775C18.998 4.91034 18.0068 3.74719 16.6621 3.5342C16.6594 3.53013 12.898 2.80078 10 2.80078ZM8.2 6.85078L13.6 10.0008L8.2 13.1508V6.85078Z" fill="white"/> </svg> 