footer.bg-indigo 
	.container 
		.flex.flex-wrap.items-start.pt-10.pb-6.-mx-3
			.w-full.sm_pr-4.order-2.sm_order-1(class="sm_w-1/2 px-3")
				.form_container
					form.form.flex.flex-wrap.md_flex-nowrap(action="https://jsonplaceholder.typicode.com/users")
						input(type="email" name="email" placeholder="Введите свою почту"  required class="w-full lg_w-2/4").rounded-md.md_rounded-r-none.md_rounded-l-xl.border.border-white.px-6.outline-none.py-3.mb-4.duration-300.bg-transparent.input_email.text-white
						button.btn_submit.bg-white.text-indigo.rounded-md.md_rounded-l-none.md_rounded-r-xl.px-4.py-3.hover_bg-blue-light.duration-300.font-semibold.mb-4.w-full(class="lg_w-1/4" data-text="Ваши данные были успешно отправлены" data-container="#footerFormText") Подписаться
					#footerFormText.text-xs.text-white.font-semibold.opacity-50.max-w-md Подпишись на&nbsp;рассылку и&nbsp;получай полезные материалы, анонсы, советы и&nbsp;лайфхаки от&nbsp;экспертов по&nbsp;маркетингу
			.w-full.md_flex.justify-between.flex-wrap.items-center.pt-2.order-1.sm_order-2(class="sm_w-1/2 px-3")
				.mb-3.md_pr-2
					+maed-logo-link('indigo', 'white')
					.md_hidden.text-white.font-bold.mb-4.pt-3 Академия <br> маркетинга
				.mb-6.sm_mb-3.md_pl-2
					a(href="tel:84959847500").text-white.text-xl.font-bold.hover_text-blue-light.duration-300 +7 (495) 984-7500
		.flex.flex-wrap.items-start.mt-2.sm_mb-6.border-t.sm_border-b.border-white.border-opacity-50
			.w-full.sm_border-r.border-white.px-3.border-opacity-50(class="sm_w-1/2 md_w-7/12 xl_w-8/12") 
				.flex.flex-wrap.items-start.pt-6.pb-4.-mx-3
					.w-full.sm_px-3.xl_pl-0
						p.font-semibold.text-white.text-sm.mb-4 Профессии
					.w-full.md_pr-2.order-1.sm_px-3.xl_pl-0(class="md_w-1/2 xl_w-3/12")
						+footerList('Директор по digital- маркетингу (NIMA-B-Digital)', 'Директор по социальным медиа / SMM директор', 'Интернет-маркетолог с нуля')
					.w-full.order-4.xl_order-2.sm_px-3(class="lg_w-1/2 xl_w-3/12")
						+footerList('Директор по Digital B2B-маркетингу', 'С нуля до директора по Digital-маркетингу')
					.w-full.sm_px-3.order-2.xl_order-3(class="md_w-1/2 xl_w-3/12")
						+footerList('Маркетолог-практик (NIMA-A)', 'Ведущий интернет-маркетолог', 'Трафик-менеджер/performance')
					.w-full.sm_px-3.order-3.xl_order-4(class="md_w-1/2 xl_w-3/12")
						+footerList('E-commerce маркетолог', 'SMM-профи с нуля', 'CRM-маркетолог')
				.flex.flex-wrap.items-start.pt-6.pb-4.border-t.border-white.-mx-3.border-opacity-50
					.w-full.sm_px-3.xl_pl-0
						p.font-semibold.text-white.text-sm.mb-4 Инструменты маркетинга
					.w-full.sm_px-3.xl_pl-0(class="md_w-1/2 xl_w-3/12")
						+footerList('Таргетолог профессионал', 'Email-маркетолог профи', 'Мастер контекстной рекламы')
					.w-full.sm_px-3(class="md_w-1/2 xl_w-3/12")
						+footerList('Веб-аналитик', 'Менеджер по маркетплейсам', 'CRM от А до Я')
					.w-full.sm_px-3(class="md_w-1/2 xl_w-3/12")
						+footerList('Digital-маркетинг для ТОПов и предпринимателей', 'Мессенджер-маркетолог профессионал')
					.w-full.sm_px-3(class="lg_w-1/2 xl_w-3/12")
						+footerList('SEO-Маркетолог', 'Контент-маркетинг от а до я')
				.flex.flex-wrap.items-start.pt-6.pb-4.border-t.border-white.sm_border-b-0.border-b.-mx-3.border-opacity-50
					.w-full.sm_px-3.xl_pl-0
						p.font-semibold.text-white.text-sm.mb-4 Отраслевые курсы
					.w-full.sm_px-3.xl_pl-0(class="xl_w-1/3")
						+footerList('Интернет-маркетинг для B2B и сложных рынков')
			.w-full(class="sm_w-1/2 md_w-5/12 xl_w-4/12") 
				.w-full.sm_block.hidden
					img(src=require("/img/img-2800.jpg"), alt="").w-full
					.-mt-6.ml-6
						a(href="#" download).bg-red.rounded-lg.px-4.py-3.hover_bg-yellow.duration-300.font-semibold.inline-flex.items-center.justify-center.text-white.hover_text-indigo
							+downloadBtnContent
				.flex.flex-wrap.sm_py-8.sm_px-2
					.w-full.pt-6.pb-4.sm_pt-0.sm_pb-0(class="sm_w-1/2 sm_px-3")
						p.font-semibold.text-white.text-sm.mb-4 Академия
						+footerList('Каталог курсов', 'NIMA', 'Экосистема обучения', 'Центр карьеры', 'Команда', 'Корпоративное обучение', 'MAED magazine')
					.w-full.pb-4.sm_pb-0(class="sm_w-1/2 sm_px-3")
						p.font-semibold.text-white.text-sm.mb-4 Для студентов
						+footerList('Экспресс - курсы', 'Инструкции, методички, чек-листы', 'Открытые уроки и вебинары', 'MAED.Клуб')
		.flex.flex-wrap.items-center.justify-between.py-6
			p.text-white.opacity-50.text-sm.mb-4.pr-4.sm_order-1.order-2
				span &copy;
				span 
				span.date 2019
				span 
				span MAED Academy все права защищены
			+social