mixin community-card(title, text, bg, img, btn)
	.rounded-xl.px-8.py-10.flex.flex-col.justify-between.h-full(class="bg-"+bg)
		.w-full
			h5.text-xl.sm_text-2xl.xl_text-3xl.text-indigo.mb-4.font-bold.sm_min-h-sm.flex.items-center!= title
			p.text-sm.mb-4= text 
			if btn != null
				a(href="#" target="_blank").inline-block.px-8.md_px-10.py-3.rounded-xl.duration-300.bg-indigo.text-white.hover_bg-purple.mb-4
					span.font-semibold.underline= btn
		img(src=require("./img/"+img), alt="").w-full.max-w-xs.mx-auto.block
section.py-16.container
	.flex.flex-wrap.items-start.mb-8.-mx-3
		.w-full(class="md_w-1/2 px-3")
			+mainTitle('Сообщество')
		.w-full(class="md_w-1/2 px-3")
			+mainTextSecondary('MAED&nbsp;&mdash; это комьюнити профессионалов, где каждый может найти ответы на&nbsp;свои вопросы, встретить единомышленников и&nbsp;выстроить траекторию собственного развития')
	.flex.flex-wrap.-mx-3
		.w-full.mb-6(class="md_w-1/2 lg_w-4/12 px-3")
			+community-card('#ТЫЖМАРКЕТОЛОГ', 'Открытая группа для маркетологов-практиков с пользой для дела и общением для души', 'yellow-light', 'community-1.svg', 'Facebook')
		.w-full.mb-6(class="md_w-1/2 lg_w-4/12 px-3")
			+community-card('Закрытые телеграм-каналы', 'Статьи, анонсы онлайн-занятий и любой полезный контент, который пригодится интернет-маркетологу.', 'red-light', 'community-2.svg', 'Telegram')
		.w-full.mb-6(class="md_w-1/2 lg_w-4/12 px-3")
			+community-card('Сообщество <br> студентов', 'Внутренние чаты курсов, доступные после зачисления', 'blue-lightwave', 'community-3.svg')