.bg-indigo 
	.container.pt-16.pb-12.box-border
		h3.text-center.text-white.text-3xl.font-bold.mb-10 Скоро старт
		.swiper-container.relative.pb-7.swiper-container-yellow
			.swiper-wrapper
				.swiper-slide
					+start-card('bg-red', 'Директор по социальным медиа / smm-директор', 'Все что нужно знать SMM-щику', 'user-2.png')
				.swiper-slide
					+start-card('bg-yellow', 'Мессенджер маркетолог профи', 'Крутой курс по управлению', 'user-3.png')
				.swiper-slide
					+start-card('bg-blue-dark', 'Директор по digital-маркетингу', 'Bestseller!', 'user-4.png')
				.swiper-slide
					+start-card('bg-red', 'Директор по социальным медиа / smm-директор', 'Все что нужно знать SMM-щику', 'user-2.png')
				.swiper-slide
					+start-card('bg-yellow', 'Мессенджер маркетолог профи', 'Крутой курс по управлению', 'user-3.png')
				.swiper-slide
					+start-card('bg-blue-dark', 'Директор по digital-маркетингу', 'Bestseller!', 'user-4.png')
			.swiper-pagination
			.swiper-button-prev.duration-300
			.swiper-button-next.duration-300