.bg-indigo 
	.container.pt-16.pb-12.box-border
		h3.text-center.text-white.text-3xl.font-bold.mb-10 Скоро старт
		.swiper-container.relative.pb-7
			.swiper-wrapper
				.swiper-slide.swiper-slide-1_3
					.px-2 
						+start-card('red', 'Директор по социальным медиа / smm-директор', 'Все что нужно знать SMM-щику', 'user-2.png')
				.swiper-slide.swiper-slide-1_3
					.px-2 
						+start-card('yellow', 'Мессенджер маркетолог профи', 'Крутой курс по управлению', 'user-3.png')
				.swiper-slide.swiper-slide-1_3
					.px-2 
						+start-card('purple', 'Директор по digital-маркетингу', 'Bestseller!', 'user-4.png')
				.swiper-slide.swiper-slide-1_3
					.px-2 
						+start-card('red', 'Директор по социальным медиа / smm-директор', 'Все что нужно знать SMM-щику', 'user-2.png')
				.swiper-slide.swiper-slide-1_3
					.px-2 
						+start-card('yellow', 'Мессенджер маркетолог профи', 'Крутой курс по управлению', 'user-3.png')
				.swiper-slide.swiper-slide-1_3
					.px-2 
						+start-card('purple', 'Директор по digital-маркетингу', 'Bestseller!', 'user-4.png')
			.swiper-pagination
			+swiperNav('yellow')