.swiper-container {
	.swiper-pagination-bullet {
		margin: 0 7px !important;
		background-color: #D9DADB;
		position: relative;
		&:before {
			content: '';
			border: 2px solid rgba(217, 218, 219, 0.2);
			border-top-color: $yellow;
			width: 20px;
			height: 20px;
			border-radius: 100%;
			position: absolute;
			left: -6px;
			top: -6px;
			opacity: 0;
			transition: 0.3s ease all;
		}
		&-active {
			background-color: $yellow;
			position: relative;
			&:before {
				opacity: 1;
				animation: spin 5s linear infinite;
			}
		}
	}
	&-yellow {
		.swiper-button {
			&-prev,
			&-next {
				&:after {
					color: $yellow;
				}
			}
		}
	}
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.swiper-button {
	&-prev,
	&-next {
		width: 30px;
		height: 30px;
		background-color: rgba(217, 218, 219, 0.2);
		border-radius: 100%;
		bottom: 10px;
		top: auto;
		&:hover {
			background-color: rgba(217, 218, 219, 0.5);
		}
		&:after {
			font-size: 16px;
		}
	}
}