mixin arrowItems(text)
	.w-full.relative(class="md_w-1/4 px-3")
		.w-4.h-4.bg-yellow.md_bg-indigo.rounded-full.mb-3.md_relative.absolute.left-2.md_-left-5(class="md_-top-2.5")
		p.text-indigo.font-semibold.mb-6.md_mb-0.pl-4.md_pl-0= text
mixin nima-program-card(title, text)
	h5.text-xl.font-bold.text-indigo.mb-4= title
	p.text-indigo.mb-8= text
section.overflow-hidden.py-16.md_pt-24
	.container
		+mainTitle('Что дают программы NIMA', '8')
		.flex.flex-wrap.-mx-3.mb-10
			.w-full.px-3(class="sm_w-1/2 lg_w-1/4")
				+nima-program-card('Европейский диплом и квалификацию', 'Система образования NIMA на протяжении десятилетий пользуется высокой репутацией')
			.w-full.px-3(class="sm_w-1/2 lg_w-1/4")
				+nima-program-card('Системный подход к маркетингу', 'Формирует понимание, как выстроить маркетинг в любой компании')
			.w-full.px-3(class="sm_w-1/2 lg_w-1/4")
				+nima-program-card('Собственный маркетинговый план', 'Создается во время обучения под контролем экспертов (В агентстве – от 300 000 рублей) ')
			.w-full.px-3(class="sm_w-1/2 lg_w-1/4")
				+nima-program-card('Преимущество перед конкурентами', 'Преподаватели с опытом работы в России и за рубежом раскроют секреты эффективного маркетинга')
		.relative
			+arrowBig(true, 'indigo', 'yellow')
			.flex.flex-wrap.-mx-3
				+arrowItems('Адаптированные для России учебные пособия, разработанные NIMA')
				+arrowItems('Системно выстроенные программы обучения')
				+arrowItems('Материалы для чтения от NIMA, дополняющие учебники')
				+arrowItems('Экзаменационные задания прошлых лет для эффективной подготовки')