section.py-8.sm_py-16.container
	.flex.flex-wrap.items-center.mb-8.-mx-3
		.w-full(class="md_w-1/2 px-3")
			+mainTitle('Кейсы <br> выпускников')
		.w-full.flex.flex-wrap(class="md_w-1/2 px-3")
			+mainTextSecondary('Журнал о digital, маркетинге, бизнесе и менеджменте. Подробные мануалы, исчерпывающие гайды, инструкции, обзоры и новости в мире маркетинга.')
	.block
		.swiper-container.relative.pb-8.sm_pb-12.swiper-container-yellow
			.swiper-wrapper
				.swiper-slide.swiper-slide-1_2
					.lg_px-2
						+graduateCase
				.swiper-slide.swiper-slide-1_2
					.lg_px-2
						+graduateCase
				.swiper-slide.swiper-slide-1_2
					.lg_px-2
						+graduateCase
				.swiper-slide.swiper-slide-1_2
					.lg_px-2
						+graduateCase
			.swiper-pagination.darken-revert
			+swiperNav('yellow', 'bg-indigo hover_bg-yellow hover_text-white')