mixin arrowItemsAdaptive(text, link)
	.w-full.relative.md_text-left(class="md_w-2/12 px-3")
		.absolute.w-4.h-4.rounded-full.bg-red.-top-2.md_left-3.left-2
		p.text-indigo.font-extrabold.md_my-6.mb-6.-mt-2.ml-8.md_ml-0
			span= text
			if link
				span 
				a(href="#").underline.duration-300.hover_text-red= link
section.pb-16.container
	.flex.items-center
		+mainTitle('Программа адаптирована для России', '8')
		img(src=require('/img/icon-adaptive.svg'), alt="").w-32.mb-12.ml-4.sm_block.hidden
	.relative
		+arrowBig(false, 'indigo', 'indigo')
		.flex.flex-wrap.-mx-3
			+arrowItemsAdaptive('Выбрать курс', 'в каталоге')
			+arrowItemsAdaptive('Оставить заявку для связи с менеджером')
			+arrowItemsAdaptive('Определиться со способом оплаты')
			+arrowItemsAdaptive('Ознакомиться', 'с договором оферты')
			+arrowItemsAdaptive('Провести оплату')
			+arrowItemsAdaptive('Приступить к обучению')