section.py-16.container
	.flex.flex-wrap.items-center.mb-8.-mx-3
		.w-full(class="md_w-1/2 px-3")
			+mainTitle('Выпускники MAED')
			+mainTextSecondary('Более 100 компаний, в которых работают наши выпускники. От перспективных стартапов до крупных международных корпораций в разных сферах бизнеса. Масштаб меняется — оплата растет')
		.w-full(class="md_w-1/2 px-3")
			+tableLabel('Group.svg', 'google-logo.svg', 'Group_17104.svg', 'Alfa-Bank.svg', 'image_565.png', 'Beeline.svg', 'Raiffeisen_Bank.svg', 'Coca-Cola_logo.svg', 'image_566.png', 'Mercedes-Benz-Logo.png', 'Frame.svg', 'Pepsi_logo_new.svg')
	.block
		.swiper-container.relative.pb-8.sm_pb-12.swiper-container-yellow
			.swiper-wrapper
				.swiper-slide.swiper-slide-1_4
					.sm_px-2
						+graduatesCard('Мария <br> Буркастова', 'Интернет-маркетинг для В2В', 'В интернете есть много бесплатной информации, но ничего не известно об источнике. На курсе я уверена в экспертности преподавателей, знаю, кто преподает, доверяю и прислушиваюсь к  мнению специалистов.', 'user-carousel-1.jpg')
				.swiper-slide.swiper-slide-1_4
					.sm_px-2
						+graduatesCard('Татьяна <br> Лейн', 'Интернет-маркетолог с нуля', 'Курс с внимательными кураторами и быстрой коммуникацией по любым вопросам – это залог отличного усвоения материла и вовремя сданных  домашних заданий.', 'user-carousel-2.jpg')
				.swiper-slide.swiper-slide-1_4
					.sm_px-2
						+graduatesCard('Денис <br> Булай', 'Директор по digital-маркетингу', 'Очень понравилось, что была обратная связь и есть персонализация под конкретно твои особенности бизнеса. Можно сказать, что курс под тебя подстраивается, а не ты под курс.', 'user-carousel-3.jpg')
				.swiper-slide.swiper-slide-1_4
					.sm_px-2
						+graduatesCard('Инна <br> Героева', 'Таргетолог-профессионал', 'Из бухгалтера ушла в таргетологи. Двух первых клиентов нашла еще во время прохождения курса.', 'user-carousel-4.jpg', true)
				.swiper-slide.swiper-slide-1_4
					.sm_px-2
						+graduatesCard('Александр <br> Шарашкин', 'Контент-маркетинг от А до Я', 'Мы продаем дорогой и сложный продукт, проекты могут длиться годами, поэтому экспертный контент для нас важен. Теперь есть четкое понимание как выстраивать контент-стратегию, как и через какие каналы наладить нужные коммуникации с клиентами.', 'user-carousel-5.jpg')
				.swiper-slide.swiper-slide-1_4
					.sm_px-2
						+graduatesCard('Олег <br> Воробьев', 'Интернет-маркетолог с нуля', ' Мне очень пригодилась тема о поисковом продвижении — провел SEO анализ сайта и понял, что нужно менять, увидел упущения и ошибки, которые мы допускали.', 'user-carousel-6.jpg')
				.swiper-slide.swiper-slide-1_4
					.sm_px-2
						+graduatesCard('Роман <br> Ковешников', 'Директор по digital-маркетингу', 'Решил пойти учиться, чтобы детально изучить  тему маркетинга и разговаривать с подрядчиками на одном языке. Итог обучения — готовая диджитал-стратегия компании на несколько лет вперед.', 'user-carousel-7.jpg')
				.swiper-slide.swiper-slide-1_4
					.sm_px-2
						+graduatesCard('Юлия <br> Краснова', 'Интернет-маркетинг для В2В', 'Кроме знаний на курсе приобрела опыт из общения с коллегами по курсу и с преподавателями. Это классное коммьюнити, которое готово помочь в решении вопросов и поделиться своими лайфхаками.', 'user-carousel-8.jpg', true)
				.swiper-slide.swiper-slide-1_4
					.sm_px-2
						+graduatesCard('Антон <br> Политаев', 'Интернет-маркетинг для В2В', 'В моем случае, этот курс на 100% решил основную «боль» последних 2-х лет — собрал в единую систему разрозненные знания. У меня появился четкий план и цель. С заказчиками стал общаться на понятном им языке, по-другому взглянул на подрядчиков.', 'user-carousel-9.jpg')
				.swiper-slide.swiper-slide-1_4
					.sm_px-2
						+graduatesCard('Елена <br> Канаева', 'Интернет-маркетолог с нуля', 'Здорово, что работа в компании и стала учебным проектом. То есть и анализ конкурентов, и ведение соцсетей — у меня совпадало практически всё, моя домашняя работа была непосредственно моей работой в компании.', 'user-carousel-10.jpg')
				.swiper-slide.swiper-slide-1_4
					.sm_px-2
						+graduatesCard('Егор <br> Уватенко', 'Директор по маркетингу', 'Мне хотелось систематизировать знания и получить теорию, чтобы системно работать с клиентами. Ожидания полностью оправдались', 'user-carousel-11.jpg')
			.hidden.sm_block.swiper-pagination.darken-revert
			+swiperNav('yellow', 'bg-indigo hover_bg-yellow hover_text-white')