.modal__bg
	.modal.modal__xl.container.px-0#modalUser
		.modal__body.px-10.py-12
			.modal__close 
			.flex.flex-wrap.-mx-3.mt-6.mb-8
				.w-full.px-3(class="md_w-3/12")
					.sm_rounded-full.overflow-hidden.sm_w-44.sm_h-44.mb-8
						img(src=require('/img/user-carousel-2.jpg'), alt="" data-img-modal="").w-full.h-full.object-cover
				.w-full.px-3(class="md_w-7/12")
					p.text-indigo.text-3xl.lg_text-4xl.font-extrabold.mb-2(data-name-modal="") Константинов
					p.text-xxs.text-indigo.mb-6(data-title-modal="") Генеральный директор кампании MAED1
					p.text-xl.sm_text-2xl.text-indigo.font-semibold(data-about-modal="") бла-бла-бла
			.-mx-2
				.px-2.my-6
					p.text-indigo.font-bold Курсы преподавателя
				.border-b.border-gray.pb-4
					.swiper-container.relative.pb-7
						.swiper-wrapper
							.swiper-slide.swiper-slide-1_3
								.px-2 
									+start-card-min('red', 'Директор по digital-маркетингу', 'user-2.png')
							.swiper-slide.swiper-slide-1_3
								.px-2 
									+start-card-min('red', 'Трафик-менеджер', 'user-4.png')
							.swiper-slide.swiper-slide-1_3
								.px-2 
									+start-card-min('purple', 'Ведущий интернет-маркетолог', 'user-5.png')
							.swiper-slide.swiper-slide-1_3
								.px-2 
									+start-card-min('red', 'Директор по digital-маркетингу', 'user-2.png')
							.swiper-slide.swiper-slide-1_3
								.px-2 
									+start-card-min('yellow', 'Трафик-менеджер', 'user-3.png')
							.swiper-slide.swiper-slide-1_3
								.px-2 
									+start-card-min('purple', 'Ведущий интернет-маркетолог', 'user-4.png')
						.swiper-pagination.darken-red
						+swiperNav('red', 'bg-indigo hover_bg-indigo hover_text-white')
			.flex.items-center.-mx-1.mt-6
				a(href="#" target="_blank" data-facebook-modal="").h-8.w-8.min-w-8.rounded-full.border.border-indigo.text-indigo.flex.items-center.justify-center.mx-1.duration-300.hover_text-white.hover_bg-indigo
					svg(width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg' class="w-4 h-4")
						path(fill-rule='evenodd' class="fill-current" clip-rule='evenodd' d='M14.6234 1.00375L12.2249 1C9.5302 1 7.78878 2.73871 7.78878 5.42982V7.47227H5.37715C5.16875 7.47227 5 7.63668 5 7.83949V10.7988C5 11.0016 5.16895 11.1658 5.37715 11.1658H7.78878V18.633C7.78878 18.8358 7.95753 19 8.16593 19H11.3124C11.5208 19 11.6896 18.8356 11.6896 18.633V11.1658H14.5093C14.7177 11.1658 14.8865 11.0016 14.8865 10.7988L14.8876 7.83949C14.8876 7.74211 14.8478 7.64886 14.7772 7.57994C14.7066 7.51103 14.6103 7.47227 14.5103 7.47227H11.6896V5.74086C11.6896 4.90868 11.8933 4.48622 13.0073 4.48622L14.623 4.48566C14.8312 4.48566 15 4.32124 15 4.11863V1.37077C15 1.16835 14.8314 1.00412 14.6234 1.00375Z' fill='currentColor')
				a(href="#" target="_blank" data-instagram-modal="").h-8.w-8.min-w-8.rounded-full.border.border-indigo.text-indigo.flex.items-center.justify-center.mx-1.duration-300.hover_text-white.hover_bg-indigo
					svg(width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg' class="w-4 h-4")
						path.fill-current(fill-rule='evenodd' clip-rule='evenodd' d='M10 1.5C12.3085 1.5 12.5979 1.50978 13.5045 1.55115C14.4093 1.59242 15.0272 1.73612 15.5678 1.94626C16.1268 2.16345 16.6008 2.45409 17.0734 2.92663C17.5459 3.3992 17.8366 3.87323 18.0538 4.43218C18.2639 4.97284 18.4076 5.59073 18.4488 6.49546C18.4902 7.40208 18.5 7.69154 18.5 10C18.5 12.3085 18.4902 12.5979 18.4488 13.5045C18.4076 14.4093 18.2639 15.0272 18.0538 15.5678C17.8366 16.1268 17.5459 16.6008 17.0734 17.0734C16.6008 17.5459 16.1268 17.8366 15.5678 18.0538C15.0272 18.2639 14.4093 18.4076 13.5045 18.4488C12.5979 18.4902 12.3085 18.5 10 18.5C7.69154 18.5 7.40208 18.4902 6.49546 18.4488C5.59073 18.4076 4.97284 18.2639 4.43218 18.0538C3.87323 17.8366 3.3992 17.5459 2.92663 17.0734C2.45409 16.6008 2.16345 16.1268 1.94626 15.5678C1.73612 15.0272 1.59242 14.4093 1.55115 13.5045C1.50978 12.5979 1.5 12.3085 1.5 10C1.5 7.69154 1.50978 7.40208 1.55115 6.49546C1.59242 5.59073 1.73612 4.97284 1.94626 4.43218C2.16345 3.87323 2.45409 3.3992 2.92663 2.92663C3.3992 2.45409 3.87323 2.16345 4.43218 1.94626C4.97284 1.73612 5.59073 1.59242 6.49546 1.55115C7.40208 1.50978 7.69154 1.5 10 1.5ZM9.99734 12.8298C11.5616 12.8298 12.8298 11.5616 12.8298 9.99734C12.8298 8.433 11.5616 7.16488 9.99734 7.16488C8.433 7.16488 7.16488 8.433 7.16488 9.99734C7.16488 11.5616 8.433 12.8298 9.99734 12.8298ZM9.99734 5.63383C12.4072 5.63383 14.3608 7.58742 14.3608 9.99734C14.3608 12.4072 12.4072 14.3608 9.99734 14.3608C7.58742 14.3608 5.63383 12.4072 5.63383 9.99734C5.63383 7.58742 7.58742 5.63383 9.99734 5.63383ZM15.8556 5.37224C15.8556 5.94601 15.3904 6.41111 14.8166 6.41111C14.2429 6.41111 13.7778 5.94601 13.7778 5.37224C13.7778 4.79847 14.2429 4.33333 14.8166 4.33333C15.3904 4.33333 15.8556 4.79847 15.8556 5.37224Z' fill='currentColor')
				a(href='#' target="_blank" data-vk-modal="").h-8.w-8.min-w-8.rounded-full.border.border-indigo.text-indigo.flex.items-center.justify-center.mx-1.duration-300.hover_text-white.hover_bg-indigo
					svg(width='13' height='7' viewBox='0 0 13 7' fill='none' xmlns='http://www.w3.org/2000/svg' class="w-4 h-4")
						path(d='M12.8792 6.28082C12.8792 6.23288 12.8275 6.23288 12.8275 6.18493C12.6206 5.80137 12.1551 5.32192 11.5344 4.79452C11.2241 4.5548 11.0689 4.36301 10.9655 4.26712C10.8103 4.07534 10.8103 3.93151 10.862 3.73973C10.9137 3.59589 11.1206 3.35616 11.4827 2.92465C11.6896 2.68493 11.793 2.5411 11.9482 2.39726C12.7241 1.43836 13.0861 0.815065 12.9827 0.527393L12.931 0.479452C12.8792 0.431507 12.8275 0.383563 12.7241 0.383563C12.6206 0.335618 12.4655 0.335618 12.3103 0.383563H10.3448C10.2931 0.383563 10.293 0.383563 10.1896 0.383563C10.1379 0.383563 10.0862 0.383563 10.0862 0.383563H10.0344H9.98271L9.93098 0.431504C9.87926 0.479449 9.87925 0.479448 9.87925 0.527393C9.67236 1.05479 9.41374 1.4863 9.15512 1.96575C8.99995 2.20548 8.84478 2.44521 8.68961 2.63699C8.53444 2.82877 8.43098 2.9726 8.32754 3.06849C8.22409 3.16438 8.12064 3.21233 8.06892 3.30822C8.01719 3.35616 7.91375 3.40411 7.91375 3.35617C7.86203 3.35617 7.8103 3.35616 7.8103 3.30822C7.75857 3.26027 7.70686 3.21233 7.65513 3.16438C7.60341 3.11644 7.6034 3.02054 7.55168 2.92465C7.55168 2.82876 7.55168 2.73287 7.55168 2.68493C7.55168 2.63698 7.55168 2.49315 7.55168 2.39726C7.55168 2.25343 7.55168 2.15753 7.55168 2.10959C7.55168 1.96575 7.55168 1.77397 7.55168 1.58219C7.55168 1.39041 7.55168 1.24657 7.55168 1.15068C7.55168 1.05479 7.55168 0.910958 7.55168 0.815067C7.55168 0.671232 7.55168 0.575338 7.55168 0.527393C7.55168 0.479448 7.49997 0.38356 7.49997 0.335615C7.44824 0.28767 7.39651 0.239723 7.34479 0.191778C7.29306 0.143833 7.18962 0.143834 7.13789 0.095889C6.87928 0.0479438 6.56894 0 6.20687 0C5.37929 0 4.81032 0.0479467 4.60343 0.143837C4.49998 0.191782 4.39653 0.239725 4.34481 0.335615C4.24136 0.431506 4.24136 0.479452 4.29308 0.479452C4.5517 0.527398 4.7586 0.623284 4.86205 0.767119L4.91377 0.863016C4.9655 0.910961 4.96549 1.00685 5.01721 1.15068C5.06894 1.29452 5.06894 1.43835 5.06894 1.63013C5.06894 1.91781 5.06894 2.20548 5.06894 2.39726C5.06894 2.63699 5.01721 2.78082 5.01721 2.92465C5.01721 3.06849 4.9655 3.16438 4.91377 3.21233C4.86205 3.30822 4.86204 3.35617 4.81032 3.35617C4.81032 3.35617 4.81032 3.40411 4.75859 3.40411C4.70687 3.40411 4.65515 3.45205 4.5517 3.45205C4.49998 3.45205 4.39653 3.40411 4.34481 3.35617C4.24136 3.30822 4.13791 3.21233 4.08619 3.11644C3.98274 3.02055 3.87929 2.87671 3.77584 2.68493C3.6724 2.49315 3.51722 2.30137 3.41377 2.0137L3.31033 1.82192C3.25861 1.72603 3.15516 1.53425 3.05171 1.29452C2.94826 1.05479 2.84481 0.863016 2.74137 0.623289C2.68964 0.527399 2.63792 0.479449 2.5862 0.431504H2.53447C2.53447 0.431504 2.48274 0.383563 2.43102 0.383563C2.3793 0.383563 2.32758 0.335615 2.27585 0.335615H0.413792C0.206897 0.335615 0.103451 0.383559 0.051727 0.431504L0 0.479452C0 0.479452 0 0.527396 0 0.575341C0 0.623287 3.1562e-06 0.671229 0.051727 0.767119C0.310346 1.34246 0.620688 1.91781 0.931031 2.49315C1.24137 3.02055 1.55172 3.5 1.75862 3.83562C2.01724 4.17123 2.22413 4.50685 2.48275 4.79452C2.74137 5.08219 2.89653 5.27397 2.94826 5.36986C3.05171 5.46575 3.10343 5.5137 3.15515 5.56164L3.31033 5.70548C3.41378 5.80137 3.56895 5.94521 3.77584 6.08904C3.98274 6.23288 4.24136 6.37671 4.49997 6.52055C4.75859 6.66438 5.06894 6.76028 5.37929 6.85617C5.74135 6.95206 6.05169 7 6.36204 6.95206H7.13789C7.29307 6.95206 7.39652 6.90411 7.49997 6.80822L7.55168 6.76027C7.55168 6.71233 7.60341 6.71233 7.60341 6.66438C7.60341 6.61644 7.60341 6.5685 7.60341 6.47261C7.60341 6.28082 7.60341 6.13699 7.65513 5.99315C7.70686 5.84932 7.70686 5.75343 7.75859 5.65754C7.81031 5.56165 7.86203 5.5137 7.91375 5.46575C7.96548 5.41781 8.01721 5.36986 8.01721 5.36986H8.06892C8.17237 5.32192 8.32754 5.36986 8.43099 5.46575C8.58616 5.56164 8.74133 5.70548 8.84478 5.84932C8.94822 5.99315 9.10341 6.13699 9.3103 6.32877C9.5172 6.52055 9.67237 6.66439 9.77581 6.71233L9.93098 6.80822C10.0344 6.85617 10.1379 6.90411 10.2931 6.95206C10.4482 7 10.5517 7 10.6551 7L12.4137 6.95206C12.5689 6.95206 12.7241 6.90411 12.8275 6.85617C12.931 6.80822 12.9827 6.76027 12.9827 6.66438C12.9827 6.61644 12.9827 6.52055 12.9827 6.47261C12.8792 6.37672 12.8792 6.32877 12.8792 6.28082Z' fill='currentColor')