section.pt-32.sm_pt-56.md_pt-48.z-20.relative.overflow-hidden
	.container
		.flex.flex-wrap.items-end.-mx-3
			.w-full(class="lg_w-1/2 xl_w-7/12 px-3")
				+h1Title('Готовим маркетологов международного уровня')
				p.text-gray-base.mb-6.sm_mb-10.font-semibold MAED обучает и готовит студентов к сдаче экзамена – NIMA создает стандарты и присваивает международную квалификацию
				.hidden.lg_flex.flex-wrap.-mx-3
					.w-full(class="sm_w-1/2 px-3")
						+listCheck('Перспективная работа с&nbsp;хорошей оплатой и&nbsp;драйвом')
						+listCheck('Возможность претендовать на&nbsp;вакансии в&nbsp;представительствах зарубежных компаний')
					.w-full(class="sm_w-1/2 px-3")
						+listCheck('Способ начать жить и&nbsp;работать в&nbsp;Европе')
						+listCheck('Европейское образование, не&nbsp;выходя из&nbsp;дома')
					.w-full.px-3
						+btn('indigo', 'purple', 'Узнать о сертификации', '14')
			.w-full(class="sm_w-1/2 xl_w-5/12 px-3")
				img(src=require('/img/Group_7691.svg'), alt="").w-full
			.w-full.lg_hidden 
				.flex.flex-wrap.mt-8
					.w-full.px-3(class="sm_w-1/2")
						+listCheck('Перспективная работа с&nbsp;хорошей оплатой и&nbsp;драйвом')
						+listCheck('Возможность претендовать на&nbsp;вакансии в&nbsp;представительствах зарубежных компаний')
					.w-full.px-3(class="sm_w-1/2")
						+listCheck('Способ начать жить и&nbsp;работать в&nbsp;Европе')
						+listCheck('Европейское образование, не&nbsp;выходя из&nbsp;дома')
					.w-full.px-3
						+btn('indigo', 'purple', 'Узнать о сертификации', '14')