section.pb-16.pt-32.sm_pt-56.md_pt-44.lg_pt-36.z-20.relative.overflow-hidden
	.container
		.flex.flex-wrap.items-start.justify-center.-mx-3
			.w-full.order-2.lg_order-1(class="lg_w-1/2 px-3")
				+h1Title('Команда MAED')
				+mainTextSecondary('За каждой успешной компанией или брендом стоят люди, которые приводят проект к результату. Поэтому мы сформировали команду профессионалов, которые знают, как работать в маркетинге и умеют этому учить.', '12')
			.w-full.mb-8.order-1.lg_order-2(class="md_w-10/12 lg_w-1/2 px-8 lg_pl-3 lg_pr-8")
				.mx-auto(class="lg_w-10/12")
					img(src=require('/img/team.svg'), alt="").w-full.mb-6.lg_mb-0
	.container.pt-6 
		.bg-indigo.rounded-xl.relative.py-10.px-4.sm_px-10.sm_py-16
			.absolute.left-4.sm_left-10.flex(class="-top-4")
				+maed-logo('white', 'red', 'xl')
			.flex.flex-wrap.-mx-3
				.w-full.flex.justify-center.sm_block(class="xl_w-3/12 md_w-1/2 px-3")
					blockquote.text-yellow.text-4xl.font-extrabold.mb-4.blockquote.blockquote__max-width.mb-6.md_mb-0
						span.text-white Даем возможность учиться у&nbsp;лучших
				.flex.items-center.flex-wrap.w-full(class='xl_w-9/12')
					.mb-5.sm_mb-0.flex.justify-center(class="w-full sm_w-1/2 px-3")
						img(src=require("/img/Group_7021.png"), alt="").w-full.xl_max-w-md.max-w-xs.block.mx-auto.xl_max-h-md.max-h-xs.object-contain.object-center
					.px-3(class="sm_w-1/2")
						h4.text-white.text-2xl.sm_text-3xl.xl_text-4xl.font-extrabold.mb-5 Андрей Гавриков
						p.text-white.font-semibold.mb-8 Основатель Академии MAED, совладелец и генеральный директор ООО «Комплето», член Гильдии Маркетологов, NLP Practicioner, NLP MBA, телеведущий, бизнес-тренер
						.flex.items-center.mb-5
							span.text-4xl.font-extrabold.text-white.w-12.mr-4 20
							span.text-sm.text-white.font-bold 20 лет в маркетинге
						.flex.items-center.mb-5 
							img(src=require("/img/team-icon-white.svg"), alt="").w-10.mr-6
							span.text-sm.text-white.font-bold Обучил &gt;15&nbsp;000 человек
						.flex.items-center.mb-5 
							img(src=require("/img/team-icon-2-white.svg"), alt="").w-10.mr-6
							span.text-sm.text-white.font-bold Награжден орденом <br> “За заслуги в маркетинге”
