section.pb-16.pt-24.container
	.flex.flex-wrap.items-center.mb-8
		.w-full(class="md_w-8/12")
			+mainTitle('Отдел разработок')
			+mainTextSecondary('Самые незаметные, но одни из самых важных людей в Академии MAED. Благодаря им функционируют сайты, появляются новые проекты и решаются все орг вопросы.')
	.flex.flex-wrap.-mx-3
		.px-3.w-full(class="sm_w-1/2 md_w-1/3 lg_w-1/4")
			+userCardMin('Rectangle2117z-2.jpg', 'Андрей Попов', 'руководитель')