section.py-16
	.container
		.flex.flex-wrap.items-center.mb-8
			.w-full.order-2.md_order-1(class="md_w-8/12")
				+mainTitle('Преподаватели', '4')
				+mainTextSecondary('Знание своего дела и неподдельная заинтересованность в рузультате помогают нашим спикерам донести информацию до каждого студента.', '8')
			.w-full.order-1.md_order-2(class="md_w-4/12")
				img(src=require('/img/team-teach.svg'), alt="").w-full.mb-8
	.bg-yellow.rounded-t-2xl.py-40.lg_-mt-24.sm_block.hidden
	.bg-white.relative.sm_block.hidden.pt-20
		+skewBlock('yellow', 'right')
		.container.sm_-mt-60
			.flex.flex-wrap.-mx-3.relative.z-10#teachContainer
				.px-3.w-full(class="sm_w-1/2 md_w-1/3 lg_w-1/4")
					+userCardMin('Rectangle2117.jpg', 'Андрей Гавриков', 'преподаватель курса <br> Digital-маркетинг и&nbsp;разработка стратегии по&nbsp;В2В')
				.px-3.w-full(class="sm_w-1/2 md_w-1/3 lg_w-1/4")
					+userCardMin('Rectangle2117-1.jpg', 'Александр Барсуков', 'преподаватель курса <br> Менеджер по&nbsp;маркетплейсам')
				.px-3.w-full(class="sm_w-1/2 md_w-1/3 lg_w-1/4")
					+userCardMin('Rectangle2117-2.jpg', 'Дмитрий Голубовский', 'преподаватель курса <br> Менеджер по&nbsp;маркетплейсам')
				.px-3.w-full(class="sm_w-1/2 md_w-1/3 lg_w-1/4")
					+userCardMin('Rectangle2117-3.jpg', 'Андрей Безруков', 'преподаватель курса <br> Мастер контекстной рекламы')
				.px-3.w-full(class="sm_w-1/2 md_w-1/3 lg_w-1/4")
					+userCardMin('Rectangle2117-4.jpg', 'Павел Мрыкин', 'преподаватель курса <br> Веб-аналитик')
				.px-3.w-full(class="sm_w-1/2 md_w-1/3 lg_w-1/4")
					+userCardMin('Rectangle2117-5.jpg', 'Александр Крупин', 'преподаватель курса <br> Таргетолог-профессионал')
				.px-3.w-full(class="sm_w-1/2 md_w-1/3 lg_w-1/4")
					+userCardMin('Rectangle2117-6.jpg', 'Сергей Кулешов', 'преподаватель курса <br> CRM от&nbsp;А до&nbsp;Я')
				.px-3.w-full(class="sm_w-1/2 md_w-1/3 lg_w-1/4")
					+userCardMin('Rectangle2117-7.jpg', 'Евгений Летов', 'преподаватель курса <br> SEO-маркетолог')
				.px-3.w-full.hidden(data-hidden="true" class="sm_w-1/2 md_w-1/3 lg_w-1/4")
					+userCardMin('Rectangle2117-8.jpg', 'Светлана Ковалева', 'преподаватель курса <br> Контент-маркетинг от&nbsp;А до&nbsp;Я')
				.px-3.w-full.hidden(data-hidden="true" class="sm_w-1/2 md_w-1/3 lg_w-1/4")
					+userCardMin('Rectangle2117-9.jpg', 'Ульяна Жеринова', 'преподаватель курса <br> Мессенджер-маркетолог')
				.px-3.w-full.hidden(data-hidden="true" class="sm_w-1/2 md_w-1/3 lg_w-1/4")
					+userCardMin('Rectangle2117-10.jpg', 'Татьяна Зубкова', 'преподаватель курса <br> Email-маркетолог')
				.px-3.w-full.hidden(data-hidden="true" class="sm_w-1/2 md_w-1/3 lg_w-1/4")
					+userCardMin('Rectangle2117-11.jpg', 'Павел Овсянников', 'преподаватель курса <br> Excel и гугл-таблицы для маркетологов')
				.px-3.w-full.hidden(data-hidden="true" class="sm_w-1/2 md_w-1/3 lg_w-1/4")
					+userCardMin('Rectangle2117-12.jpg', 'Ольга Реутова', 'преподаватель курса <br> Трафик-менеджер')
				.px-3.w-full.hidden(data-hidden="true" class="sm_w-1/2 md_w-1/3 lg_w-1/4")
					+userCardMin('Rectangle2117-15.jpg', 'Олег Елманов', 'преподаватель курса <br> CRM-маркетолог')
				.px-3.w-full.hidden(data-hidden="true" class="sm_w-1/2 md_w-1/3 lg_w-1/4")
					+userCardMin('Rectangle2117-19.jpg', 'Илья Балахнин', 'преподаватель курса <br> С нуля до директора по digital-маркетингу')
				.px-3.w-full.hidden(data-hidden="true" class="sm_w-1/2 md_w-1/3 lg_w-1/4")
					+userCardMin('Rectangle2117-21.jpg', 'Дмитрий Фролов', 'преподаватель курса <br> Маркетолог-аналитик')
				.px-3.w-full.hidden(data-hidden="true" class="sm_w-1/2 md_w-1/3 lg_w-1/4")
					+userCardMin('Rectangle2117-13.jpg', 'Мария Лукина', 'преподаватель курса <br> Директор по SMM')
				.px-3.w-full.hidden(data-hidden="true" class="sm_w-1/2 md_w-1/3 lg_w-1/4")
					+userCardMin('Rectangle2117-16.jpg', 'Егор Тимошин', 'преподаватель курса <br> Ecommerce-маркетолог')
				.px-3.w-full.hidden(data-hidden="true" class="sm_w-1/2 md_w-1/3 lg_w-1/4")
					+userCardMin('Rectangle2117-20.jpg', 'Валерий Домашенко', 'преподаватель курса <br> Ведущий интернет-маркетолог')
				.px-3.w-full.hidden(data-hidden="true" class="sm_w-1/2 md_w-1/3 lg_w-1/4")
					+userCardMin('Rectangle2117-22.jpg', 'Татьяна Таганова', 'преподаватель курса <br> Интернет-маркетолог профессионал')
				.px-3.w-full.hidden(data-hidden="true" class="sm_w-1/2 md_w-1/3 lg_w-1/4")
					+userCardMin('Rectangle2117-14.jpg', 'Артур Саркисян', 'преподаватель курса <br> Маркетинг для предпринимателей')
				.px-3.w-full.hidden(data-hidden="true" class="sm_w-1/2 md_w-1/3 lg_w-1/4")
					+userCardMin('Rectangle2117-17.jpg', 'Юрий Робул', 'преподаватель курса <br> Маркетинг по&nbsp;международной программе')
				.px-3.w-full.hidden(data-hidden="true" class="sm_w-1/2 md_w-1/3 lg_w-1/4")
					+userCardMin('Rectangle2117-18.jpg', 'Юлия Магась', 'преподаватель курса <br> SMM-профи')
				.px-3.w-full.flex.justify-center.pt-6
					a(href="#teachContainer" data-showitems="false").inline-flex.items-center.px-8.md_px-10.py-3.rounded-xl.duration-300.text-white.bg-indigo.hover_bg-purple
						span.font-semibold.pointer-events-none Все преподаватели
	.container.block.sm_hidden
		.swiper-container.relative.pb-8.sm_pb-12.swiper-container-yellow
			.swiper-wrapper
				.swiper-slide.swiper-slide-1_4
					.sm_px-2
						+userCardMin('Rectangle2117.jpg', 'Андрей Гавриков', 'преподаватель курса <br> Digital-маркетинг и&nbsp;разработка стратегии по&nbsp;В2В')
				.swiper-slide.swiper-slide-1_4
					.sm_px-2
						+userCardMin('Rectangle2117-1.jpg', 'Александр Барсуков', 'преподаватель курса <br> Менеджер по&nbsp;маркетплейсам')
				.swiper-slide.swiper-slide-1_4
					.sm_px-2
						+userCardMin('Rectangle2117-2.jpg', 'Дмитрий Голубовский', 'преподаватель курса <br> Менеджер по&nbsp;маркетплейсам')
				.swiper-slide.swiper-slide-1_4
					.sm_px-2
						+userCardMin('Rectangle2117-3.jpg', 'Андрей Безруков', 'преподаватель курса <br> Мастер контекстной рекламы')
				.swiper-slide.swiper-slide-1_4
					.sm_px-2
						+userCardMin('Rectangle2117-4.jpg', 'Павел Мрыкин', 'преподаватель курса <br> Веб-аналитик')
				.swiper-slide.swiper-slide-1_4
					.sm_px-2
						+userCardMin('Rectangle2117-5.jpg', 'Александр Крупин', 'преподаватель курса <br> Таргетолог-профессионал')
				.swiper-slide.swiper-slide-1_4
					.sm_px-2
						+userCardMin('Rectangle2117-6.jpg', 'Сергей Кулешов', 'преподаватель курса <br> CRM от&nbsp;А до&nbsp;Я')
				.swiper-slide.swiper-slide-1_4
					.sm_px-2
						+userCardMin('Rectangle2117-7.jpg', 'Евгений Летов', 'преподаватель курса <br> SEO-маркетолог')
				.swiper-slide.swiper-slide-1_4
					.sm_px-2
						+userCardMin('Rectangle2117-8.jpg', 'Светлана Ковалева', 'преподаватель курса <br> Контент-маркетинг от&nbsp;А до&nbsp;Я')
				.swiper-slide.swiper-slide-1_4
					.sm_px-2
						+userCardMin('Rectangle2117-9.jpg', 'Ульяна Жеринова', 'преподаватель курса <br> Мессенджер-маркетолог')
				.swiper-slide.swiper-slide-1_4
					.sm_px-2
						+userCardMin('Rectangle2117-10.jpg', 'Татьяна Зубкова', 'преподаватель курса <br> Email-маркетолог')
				.swiper-slide.swiper-slide-1_4
					.sm_px-2
						+userCardMin('Rectangle2117-11.jpg', 'Павел Овсянников', 'преподаватель курса <br> Excel и гугл-таблицы для маркетологов')
				.swiper-slide.swiper-slide-1_4
					.sm_px-2
						+userCardMin('Rectangle2117-12.jpg', 'Ольга Реутова', 'преподаватель курса <br> Трафик-менеджер')
				.swiper-slide.swiper-slide-1_4
					.sm_px-2
						+userCardMin('Rectangle2117-15.jpg', 'Олег Елманов', 'преподаватель курса <br> CRM-маркетолог')
				.swiper-slide.swiper-slide-1_4
					.sm_px-2
						+userCardMin('Rectangle2117-19.jpg', 'Илья Балахнин', 'преподаватель курса <br> С нуля до директора по digital-маркетингу')
				.swiper-slide.swiper-slide-1_4
					.sm_px-2
						+userCardMin('Rectangle2117-21.jpg', 'Дмитрий Фролов', 'преподаватель курса <br> Маркетолог-аналитик')
				.swiper-slide.swiper-slide-1_4
					.sm_px-2
						+userCardMin('Rectangle2117-13.jpg', 'Мария Лукина', 'преподаватель курса <br> Директор по SMM')
				.swiper-slide.swiper-slide-1_4
					.sm_px-2
						+userCardMin('Rectangle2117-16.jpg', 'Егор Тимошин', 'преподаватель курса <br> Ecommerce-маркетолог')
				.swiper-slide.swiper-slide-1_4
					.sm_px-2
						+userCardMin('Rectangle2117-20.jpg', 'Валерий Домашенко', 'преподаватель курса <br> Ведущий интернет-маркетолог')
				.swiper-slide.swiper-slide-1_4
					.sm_px-2
						+userCardMin('Rectangle2117-22.jpg', 'Татьяна Таганова', 'преподаватель курса <br> Интернет-маркетолог профессионал')
				.swiper-slide.swiper-slide-1_4
					.sm_px-2
						+userCardMin('Rectangle2117-14.jpg', 'Артур Саркисян', 'преподаватель курса <br> Маркетинг для предпринимателей')
				.swiper-slide.swiper-slide-1_4
					.sm_px-2
						+userCardMin('Rectangle2117-17.jpg', 'Юрий Робул', 'преподаватель курса <br> Маркетинг по&nbsp;международной программе')
				.swiper-slide.swiper-slide-1_4
					.sm_px-2
						+userCardMin('Rectangle2117-18.jpg', 'Юлия Магась', 'преподаватель курса <br> SMM-профи')
			.hidden.sm_block.swiper-pagination.darken-revert-purple
			+swiperNav('white', 'bg-indigo hover_bg-purple')