mixin headerDesktopLeft(img, title, text)
	.flex.items-center
		img(src=require("./img/"+img), alt="").w-8.lg_w-16.mr-4.mb-3
		p.text-white.uppercase.font-semibold.mb-3= title
	p.text-white.text-xs.opacity-50.lg_mb-2.mb-6= text
mixin headerListTop(...lists)
	ul.flex.flex-wrap
		each list, index in lists
			li.mr-5.my-1.lg_my-0
				if index == 0
					a(href="#" data-open="headerDesktopHidden").text-indigo.py-2.font-bold.text-sm.duration-300.hover_text-red.inline-flex.items-center.header__link
						span.mr-1.pointer-events-none= list
						span.triangle-to-bottom.pointer-events-none(class="mb-0.5")
				else 
					a(href="#").text-indigo.py-2.font-bold.text-sm.duration-300.hover_text-red.inline-flex.header__link= list
mixin headerMobList(...lists)
	ul 
		each list in lists
			li.border-b.border-indigo
				a(href="#").block.py-4.font-extrabold.text-xl.text-indigo= list
header.fixed.w-full.z-40.bg-white#header
	.header__container.border-b.border-gray.py-8.sm_py-8.duration-300
		.container.flex.justify-between.items-center
			nav.hidden.sm_block
				+headerListTop('Каталог курсов', 'NIMA', 'Экосистема обучения', 'Центр карьеры', 'Команда', 'Корпоративное обучение', 'MAED magazine')
			.header__logo
				+maed-logo-link('white', 'indigo')
			button.bg-transparent.border-0.relative.sm_hidden.open-mob-menu.outline-none(data-open="headerDesktopHidden")
				span.open-mob-menu-item
				span.open-mob-menu-item
				span.open-mob-menu-item
				span.open-mob-menu-item
				span.open-mob-menu-item
				span.open-mob-menu-item
				span.open-mob-menu-item
				span.open-mob-menu-item
				span.open-mob-menu-item
	.bg-white.sm_bg-indigo.header__container-hidden.overflow-scroll#headerDesktopHidden
		.container.pt-8.hidden.sm_block
			.flex.flex-wrap.pb-5.border-b.border-white.md_items-center.-mx-3
				.w-full(class="sm_w-1/2 md_w-1/3 lg_w-1/4 px-3")
					+headerDesktopLeft('Group_7106.svg', 'Экспресс-курсы', 'Мы даём актуальное системное образование по 26 направлениям в области маркетинга и управления бизнесом,формируем индивидуальные треки обучения для своих студентов.')
				.w-full(class="sm_w-1/2 md_w-2/3 lg_w-3/4 px-3")
					.-mx-3.flex.flex-wrap
						.w-full(class="lg_w-1/3 md_w-1/2 px-3")
							+headerList(false, 'Директор по&nbsp;digital-маркетингу (NIMA-B-Digital)', 'Директор по&nbsp;социальным медиа&nbsp;/ SMM директор', 'Директор по&nbsp;Digital B2B-маркетингу')
						.w-full(class="lg_w-1/3 md_w-1/2 px-3")
							+headerList(false, 'Маркетолог-практик (NIMA-A)', 'Интернет-маркетолог с нуля', 'Трафик-менеджер / performance', 'Ведущий интернет-маркетолог')
						.w-full(class="lg_w-1/3 md_w-1/2 px-3")
							+headerList(false, 'CRM-маркетолог', 'E-commerce маркетолог', 'SMM-профи с нуля', 'С нуля до директора по Digital-маркетингу')
			.flex.flex-wrap.pb-5.border-b.border-white.md_items-center.-mx-3.pt-8
				.w-full(class="sm_w-1/2 md_w-1/3 lg_w-1/4 px-3")
					+headerDesktopLeft('apple-books.svg', 'методички, чек-листы, инструкции', 'Мы даём актуальное системное образование по 26 направлениям в области маркетинга и управления бизнесом,формируем индивидуальные треки обучения для своих студентов.')
				.w-full(class="sm_w-1/2 md_w-2/3 lg_w-3/4 px-3")
					.-mx-3.flex.flex-wrap
						.w-full(class="lg_w-1/3 md_w-1/2 px-3")
							+headerList(false, 'Digital-маркетинг для ТОПов и предпринимателей', 'Менеджер по маркетплейсам', 'Таргетолог профессионал', 'Email-маркетолог профи')
						.w-full(class="lg_w-1/3 md_w-1/2 px-3")
							+headerList(false, 'Мастер контекстной рекламы', 'Веб-аналитик', 'Мессенджер-маркетолог профи', 'Контент-маркетинг от а до я')
						.w-full(class="lg_w-1/3 md_w-1/2 px-3")
							+headerList(true, 'CRM от А до Я', 'SEO-Маркетолог', 'Скоро: Спец по веб трафику')
			.flex.flex-wrap.md_items-center.-mx-3.pt-8
				.w-full(class="sm_w-1/2 md_w-1/3 lg_w-1/4 px-3")
					+headerDesktopLeft('chalkboard.svg', 'открытые уроки и вебинары', 'Мы даём актуальное системное образование по 26 направлениям в области маркетинга и управления.')
				.w-full(class="sm_w-1/2 md_w-2/3 lg_w-3/4 px-3")
					.-mx-3.flex.flex-wrap
						.w-full(class="lg_w-1/3 md_w-1/2 px-3")
							+headerList(true, 'Интернет-маркетинг для B2B и сложных рынков', 'Скоро: Спец по веб трафику')
			.flex.pt-5.justify-end 
				a(href="#").close-header-container.border.border-red.px-10.py-4.rounded-t-3xl.text-white.font-bold.text-xs.hover_bg-red.duration-300 Свернуть
		.container.pt-8.sm_hidden#mobContent
			+headerMobList('Каталог курсов', 'NIMA', 'Экосистема обучения', 'Центр карьеры', 'Команда', 'Корпоративное обучение', 'MAED magazine')
			.block
				+dropdownLink('#forFree', '#mobContent', 'Бесплатные знания')
				+headerListMob(false, 'forFree', 'Экспресс-курсы', 'Инструкции, методички, чек-листы', 'Открытые уроки и вебинары')