section#courses-special.overflow-hidden
	.bg-white
		.bg-yellow.pt-40.rounded-t-2xl
			.container
				.flex.flex-wrap
					.lg_pr-4.relative.z-10(class="lg_w-1/3")
						h2.text-white.text-3xl.sm_text-4xl.xl_text-5xl.font-black.mb-4 Отраслевые курсы
						.mb-8
							+maed-logo('text-yellow bg-white')
					.text-white.text-xl.md_text-2xl.md_font-bold.mb-4.relative.z-10(class="lg_w-2/3 xl_w-1/3") Мы даём актуальное системное образование по 26 направлениям в области маркетинга и управления бизнесом,формируем индивидуальные треки обучения для своих студентов, способствуя их продвижению по карьерной лестнице.
	.bg-white.pt-10.pb-20.sm_pb-24.sm_pb-36.md_pb-48.sm_pt-14.xl_pt-10.relative.pb-100
		.skew-block.bg-yellow
		.container.flex.flex-wrap.px-1.relative.z-10
			.px-3.animated-block-1(class="w-full md_w-1/2 lg_w-1/3")
				+course-card('bg-white border border-yellow', 'Директор по digital-маркетингу', 'user-4.png')
				+course-card('bg-white border border-yellow', 'Ведущий интернет маркетолог', 'user-2.png')
			.px-3(class="w-full md_w-1/2 lg_w-1/3")
				+course-card('bg-white border border-yellow', 'Digital-маркетинг и разработка стратегии для b2b', 'user-5.png')
				+course-card('bg-yellow', 'Ведущий интернет маркетолог', 'user-3.png')
			.px-3.animated-block-2(class="hidden lg_block md_w-1/2 lg_w-1/3")
				+course-card('bg-white border border-yellow', 'Директор по социальным медиа / smm-директор', 'user-4.png')
				+course-card('bg-white border border-yellow', 'Мессенджер маркетолог профи', 'user-3.png')
		.text-yellow.justify-center.text-2xl.uppercase.absolute.made-by-maed.font-bold.hidden.sm_flex
			span.block.made-by-maed__down hand
			span.block made
			span.block.made-by-maed__down by
			span.block maed
			span.block.made-by-maed__down hand
			span.block made
			span.block.made-by-maed__down by
			span.block maed
			span.block.made-by-maed__down hand
			span.block made
			span.block.made-by-maed__down by
			span.block maed
			span.block.made-by-maed__down hand
			span.block made
			span.block.made-by-maed__down by
			span.block maed
			span.block.made-by-maed__down hand
			span.block made
			span.block.made-by-maed__down by
			span.block maed
	.bg-white.pb-20.sm_pb-24.md_pb-32
		.container
			.bg-blue-sea.flex.flex-wrap.rounded-2xl.relative.px-6.sm_px-10.pt-8.pb-6 
				div(class="sm_w-8/12")
					h3.text-2xl.sm_text-3xl.lg_text-4xl.font-black.mb-4 Подпишись на самые актуальные новости по маркетингу!
					form.form.flex.flex-wrap.md_flex-nowrap
						input(type="email" name="email" placeholder="Введи свою почту"  required class="w-full lg_w-2/4").rounded-xl.border-0.px-6.md_mr-3.outline-none.py-3.mb-4.border.border-white.duration-300.input_email
						button.btn_submit.bg-indigo.rounded-xl.px-4.py-3.hover_bg-blue-dark.duration-300.font-semibold.text-white.mb-4.w-full(class="lg_w-1/4") Подписаться
				.relative.hidden.sm_block(class="sm_w-4/12")
					img(src=require("./img/hand.svg"), alt="").sm_w-32.lg_w-44.absolute.left-0.bottom-0.right-0.m-auto.form-hand-animate
	.bg-white.pb-20.sm_pb-24.md_pb-32
		.container
			.bg-blue-darken.flex.flex-wrap.rounded-2xl.relative.overflow-hidden  
				.px-6.sm_px-10.py-12.relative.w-full(class="md_w-1/2 xl_w-7/12")
					img(src=require("./img/Group_7674.svg"), alt="").absolute.absolute-img-materials
					h3.text-white.text-3xl.sm_text-4xl.lg_text-5xl.font-black.mb-4 MAED <br> Starter pack
					p.text-white.text-xl.mb-6 Для маркетолога
					p.text-blue-wave.mb-6.text-sm.max-w-xs.font-semibold Бесплатная база материалов для всех, кто хочет научится маркетингу. Получи ссылку на почту.
					form.form.flex.flex-wrap.lg_flex-nowrap
						input(type="email" name="email" placeholder="Введи свою почту"  required class="w-full lg_w-2/4").rounded-xl.border-0.px-6.lg_mr-3.outline-none.py-3.mb-4.border.border-white.duration-300.input_email
						button.btn_submit.bg-pink.rounded-xl.px-4.py-3.hover_bg-pink-dark.duration-300.font-semibold.mb-4.w-full.flex.items-center.justify-center.lg_w-56
							span.pointer-events-none.inline-flex.items-center
								img(src=require("./img/download.png"), alt="").w-6
								span.border-b.border-dashed.ml-2.inline.text-sm.lg_text-md Скачать бесплатно
				.relative(class="md_w-1/2 xl_w-5/12")
					img(src=require("./img/maed-starter.jpg"), alt="").w-full.h-full.object-cover