.btn_submit {
	&:disabled {
		background-color: $blue;
		color: $indigo;
		opacity: 0.6;
		cursor: default;
	}
}
.input_custom {
	&:disabled {
		background-color: $white;
		opacity: 0.6;
		color: $indigo;
	}
}

.form-hand-animate {
	animation: linear 0.8s infinite alternate rotatehand;
}

@keyframes rotatehand {
	from {
		transform: skewX(-3deg);
	}
	to {
		transform: skewX(3deg);
	}
}