mixin community-card-360(title, text, img, btn)
	.rounded-xl.px-4.py-6.sm_px-6.sm_py-8.flex.flex-col.justify-between.h-full.bg-white.border-2.border-red
		.flex.flex-wrap.items-end.-mx-3 
			.w-full(class="lg_w-7/12 px-3").order-2.lg_order-1
				.min-h-sm.items-center.flex.mb-3.lg_mb-6
					h5.text-xl.sm_text-2xl.xl_text-3xl.text-indigo.mb-4.font-bold.sm_min-h-sm.flex.items-center!= title
				p.text-indigo.text-sm.font-semibold.mb-6= text 
				if btn
					a(href="#" target="_blank").w-full.sm_w-initial.inline-block.px-6.sm_px-8.md_px-10.py-3.rounded-md.sm_rounded-xl.duration-300.bg-indigo.text-white.hover_bg-purple.sm_mb-4.text-center
						span.font-semibold.sm_underline= btn
			.w-full(class="lg_w-5/12 px-3").order-1.lg_order-2
				img(src=require('/img/'+img), alt="").w-full.h-56.object-contain.mb-6.lg_mb-0.object-bottom
section.py-8.sm_py-16.container
	+360MainTitle('6', 'Сообщество', '8')
	.w-full(class="md_w-1/2")
		+mainTextSecondary('MAED – это комьюнити профессионалов, где каждый может найти ответы на свои вопросы, встретить единомышленников и выстроить траекторию собственного развития', '10')
	.flex.flex-wrap.-mx-3
		.w-full.mb-6(class="md_w-1/2 px-3")
			+community-card-360('#ТЫЖМАРКЕТОЛОГ', 'Открытая группа для маркетологов-практиков с пользой для дела и общением для души', 'community-1.svg', 'Facebook')
		.w-full.mb-6(class="md_w-1/2 px-3")
			+community-card-360('Закрытые телеграм-каналы', 'Статьи, анонсы онлайн-занятий и любой полезный контент, который пригодится интернет-маркетологу', 'community-2.svg', 'Telegram')
		.w-full.mb-6(class="md_w-1/2 px-3")
			+community-card-360('Сообщество студентов', 'Внутренние чаты курсов, доступные после зачисления', 'community-3.svg')
		.w-full.mb-6(class="md_w-1/2 px-3")
			+community-card-360('MAED Magazine', 'Блог MAED, где собраны актуальные статьи от ведущих маркетологов', 'community-4.svg', 'Наш блог')