.swiper-container {
	.swiper-pagination-bullet {
		margin: 0 7px !important;
		background-color: #D9DADB;
		position: relative;
		&:before {
			content: '';
			border: 2px solid rgba(217, 218, 219, 0.2);
			border-top-color: $yellow;
			width: 20px;
			height: 20px;
			border-radius: 100%;
			position: absolute;
			left: -6px;
			top: -6px;
			opacity: 0;
			transition: 0.3s ease all;
		}
		&-active {
			background-color: $yellow;
			position: relative;
			&:before {
				opacity: 1;
				animation: spin 5s linear infinite;
			}
		}
	}
	.red-pagination {
		.swiper-pagination-bullet {
			background-color: $red;
			opacity: 1;
			&:before {
				border-color: $white;
				border-top-color: $red;
			}
			&-active {
				background-color: $white;
			}
		}
	}
	.darken {
		.swiper-pagination-bullet {
			background-color: #b4bbc2;
			&:before {
				border-top-color: $indigo;
			}
			&-active {
				background-color: $indigo;
			}
		}
		&-revert {
			.swiper-pagination-bullet {
				background-color: $indigo;
				opacity: 1;
				&:before {
					border-color: $indigo;
					border-top-color: $yellow;
				}
				&-active {
					background-color: $yellow;
				}
			}
		}
	}
}

.swiper-slide-1_2 {
	width: calc(50% - 10px);
	@media (max-width: 1023px) {
		width: 100%;
	}
}

.swiper-slide-1_3 {
	width: calc(33.333333% - 9px);
	@media (max-width: 1023px) {
		width: calc(50% - 10px);
	}
	@media (max-width: 719px) {
		width: 100%;
	}
}

.swiper-slide-1_4 {
	width: calc(25% - 10px);
	@media (max-width: 1023px) {
		width: calc(50% - 10px);
	}
	@media (max-width: 719px) {
		width: 100%;
	}
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.swiper-button {
	&-prev,
	&-next {
		width: 30px;
		height: 30px;
		border-radius: 100%;
		bottom: 10px;
		top: auto;
		&:after {
			font-size: 16px;
			color: currentColor;
		}
	}
}

.swiper-gallery {
	.swiper-button-prev, .swiper-button-next {
		bottom: -15px;
	}
	@media (min-width: 1140px) {
		.swiper-button-prev, .swiper-button-next {
			left: 0;
			right: 0;
			margin: auto;
		}
		.swiper-button-prev {
			transform: translateX(-550px);
		}
		.swiper-button-next {
			transform: translateX(550px);
		}
	}
}