section.pb-16.pt-24.container
	.flex.flex-wrap.items-center.mb-8
		.w-full(class="md_w-8/12")
			+mainTitle('Продакшн')
			+mainTextSecondary('На плечах этих людей фундаментальная ответственность за ваше обучение, именно они сотавляют программу, находят лучших специалистов и делают так, чтобы знания, которые вы получаете, оставались актуальными.')
	.block
		.swiper-container.relative.pb-8.sm_pb-12.swiper-container-yellow
			.swiper-wrapper
				.swiper-slide.swiper-slide-1_4
					.sm_px-2
						+userCardMin('Rectangle2117.jpg', 'Андрей Гавриков', 'CPO')
				.swiper-slide.swiper-slide-1_4
					.sm_px-2
						+userCardMin('Rectangle2117z.jpg', 'Маргарита Варданян', 'продюсер')
				.swiper-slide.swiper-slide-1_4
					.sm_px-2
						+userCardMin('Rectangle2117z-1.jpg', 'Александр Силонов', 'главный оператор')
				.swiper-slide.swiper-slide-1_4
					.sm_px-2
						+userCardMin('Rectangle2117z-2.jpg', 'Елена Зыбина', 'продюсер')
				.swiper-slide.swiper-slide-1_4
					.sm_px-2
						+userCardMin('Rectangle2117z-2.jpg', 'Дмитрий Атабеков', 'оператор-монтажер')
			.hidden.sm_block.swiper-pagination.darken-revert-purple
			+swiperNav('white', 'bg-indigo hover_bg-purple')