section.pt-16.pb-24.container
	.flex.flex-wrap.items-center.mb-8
		.w-full(class="md_w-8/12")
			+mainTitle('Отдел продаж')
			+mainTextSecondary('Они знают о курсах всё, и даже немного больше. Поэтому подберут именно ту программу обучения, которая больше всего подойдет под ваши задачи.')
	.block
		.swiper-container.relative.pb-8.sm_pb-12.swiper-container-yellow
			.swiper-wrapper
				.swiper-slide.swiper-slide-1_4
					.sm_px-2
						+userCardMin('Rectangle2117k.jpg', 'Корчицкая Марина', 'менеджер')
				.swiper-slide.swiper-slide-1_4
					.sm_px-2
						+userCardMin('Rectangle2117k-1.jpg', 'Семенов Алексей', 'менеджер')
				.swiper-slide.swiper-slide-1_4
					.sm_px-2
						+userCardMin('Rectangle2117k-2.jpg', 'Стародубцева Виктория', 'менеджер')
				.swiper-slide.swiper-slide-1_4
					.sm_px-2
						+userCardMin('Rectangle2117k-3.jpg', 'Сардова Янита', 'менеджер')
				.swiper-slide.swiper-slide-1_4
					.sm_px-2
						+userCardMin('Rectangle2117k-4.jpg', 'Розенкова Дарья', 'менеджер')
				.swiper-slide.swiper-slide-1_4
					.sm_px-2
						+userCardMin('Rectangle2117k-5.jpg', 'Белогорцева Анна', 'менеджер')
				.swiper-slide.swiper-slide-1_4
					.sm_px-2
						+userCardMin('Rectangle2117z-2.jpg', 'Берцевич Ольга', 'менеджер')
			.hidden.sm_block.swiper-pagination.darken-revert-purple
			+swiperNav('white', 'bg-indigo hover_bg-purple')