doctype html
html(lang="ru")
	head
		meta(charset="UTF-8")
		meta(http-equiv="X-UA-Compatible", content="IE=edge")
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		title MAED | 360
		link(rel='shortcut icon' href='favicon.ico')
	body.font-sans
		include models/mixins/index.pug
		include models/header/index.pug
		include models/360-main/index.pug
		include models/academy-programm/index.pug
		include models/our-teachers/index.pug
		include models/accompaniment/index.pug
		include models/our-student/index.pug
		include models/graduates/index.pug
		include models/graduates-cases/index.pug
		include models/career-center-360/index.pug
		include models/community-360/index.pug
		include models/carousel-start-360/index.pug
		include models/footer/index.pug