doctype html
html(lang="ru")
	head
		meta(charset="UTF-8")
		meta(http-equiv="X-UA-Compatible", content="IE=edge")
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		title MAED | Условия обучения
		link(rel='shortcut icon' href='favicon.ico')
	body.font-sans
		include models/mixins/index.pug
		include models/header/index.pug
		include models/education-main/index.pug
		include models/education-arrow/index.pug
		include models/installment-plan/index.pug
		include models/safety/index.pug
		include models/footer/index.pug