doctype html
html(lang="ru")
	head
		meta(charset="UTF-8")
		meta(http-equiv="X-UA-Compatible", content="IE=edge")
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		title MAED | Главная
		link(rel='shortcut icon' href='favicon.ico')
	body.font-sans
		include models/mixins/index.pug
		include models/header/index.pug
		include models/marketing-academy/index.pug
		include models/we-know/index.pug
		include models/maed-nima/index.pug
		include models/nima-program/index.pug
		include models/maed-crew/index.pug
		include models/career-track/index.pug
		include models/graduates/index.pug
		include models/graduates-cases/index.pug
		include models/maed-ecosystem/index.pug
		include models/career-center/index.pug
		include models/maed-academy/index.pug
		include models/community/index.pug
		include models/carousel-maed-mag/index.pug
		include models/footer/index.pug