doctype html
html(lang="ru")
	head
		meta(charset="UTF-8")
		meta(http-equiv="X-UA-Compatible", content="IE=edge")
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		title MAED | Команда
		link(rel='shortcut icon' href='favicon.ico')
	body.font-sans
		include models/mixins/index.pug
		include models/header/index.pug
		include models/team-main/index.pug
		include models/team-teachers/index.pug
		include models/team-curator/index.pug
		include models/team-method/index.pug
		include models/team-career/index.pug
		include models/admin-team/index.pug
		include models/footer/index.pug